@media (max-width:1366px) {
	.organizationsBgShap { left: -55%; }
}
@media (max-width:1280px) {
	:root { --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 16px; --fontLg: 18px; --fontXlg: 20px; --fontxl: 24px; --font1xl: 28px; --font2xl: 36px; --font3xl: 40px; --font4xl: 44px; }
	.organizationsBgShap { top: 55%; left: -35%; width: 600px; }
	.cityList { width: 210px; }
	.cityList:first-child { top: 0; left: 210px; }
	.cityList:nth-child(2) { top: -180px; left: 580px; width: 150px; }
	.cityList:nth-child(3) { top: -200px; left: 770px; width: 120px; }
	.cityList:nth-child(4) { top: -240px; left: 920px; width: 180px; }
	.cityList:last-child { top: -250px; left: 360px; width: 140px; }
	.ourProgressObject { position: absolute; width: 460px; right: -15%; top: -62px; }
}
@media (max-width:1024px) {
	:root { --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 16px; --fontLg: 18px; --fontXlg: 20px; --fontxl: 22px; --font1xl: 24px; --font2xl: 28px; --font3xl: 32px; --font4xl: 36px; }
	.sustainability { margin: 0; }
	.sustainabilityObject2 { right: -180px; bottom: -80px; z-index: 1; }
	.sustainabilityBoxContent { padding: 0 25px; }
	.sustainabilityBoxImage img { width: 80%; }
	.videoOnly { height: 80vh; }
	.organizations { padding: 100px 0; }
	.organizationsBgShap { top: 60%; left: -30%; width: 500px; }
	.cityName { font-size: 22px; }
	.cityList:first-child { top: 0; left: 160px; }
	.cityList:nth-child(2) { left: 520px; }
	.cityList:nth-child(3) { top: -220px; left: 700px; }
	.cityList:nth-child(4) { top: -250px; left: 800px; width: 160px; }
	.cityList:last-child { top: -270px; left: 260px; width: 140px; }
	.home .ourProgress { margin-top: -100px; }
	.ourProgressObject { width: 360px; top: -38px; }
	.banner { min-height: 80vh; }
}
@media (max-width:768px) {
	.cityName { font-size: 18px; }
	.cityList { width: 170px; }
	.cityList:nth-child(2) { left: 400px; width: 120px; }
	.cityList:first-child { left: 130px; }
	.cityList:nth-child(3) { top: -220px; left: 640px; width: 100px; }
	.cityList:nth-child(4) { top: -100px; left: 610px; width: 130px; }
	.cityList:last-child { top: -230px; left: 80px; width: 130px; }
	.sustainabilityBox { margin: 0 0 40px 0; padding-bottom: 180px; }
	.sustainabilityBox .sustainabilityBoxContent { transform: translateY(0); opacity: 1; visibility: visible; }
	.sustainabilityBoxImage { height: 460px; }
	.organizationsBgShap { display: none; }
	.organizations .swiper { max-width: 100%; }
	.globaleReachTop { top: 33%; }
	.sustainabilityObject { left: -250px; }
	.sustainabilityObject2 { right: -230px; }
	.sustainabilityTopInner { width: 60%; }
	.videoOnly { height: 50vh; }
	.videoOnlyObject { height: 80%; }
	.videoOnlyObject img:first-child { object-fit: contain; height: 100%; }
	.organizationsTop .accentBtn:before { width: 70%; }
}