/* .tabContent { display: none; } */
.mobile-tab-title { display: none; }
.tabbingWrapper { padding: 50px 0 0 0; }
.tab-titles { display: flex; align-items: center; margin: 0; padding: 0; list-style: none; }
.tabContainer { background-color: var(--whiteColor); padding: 100px 0 50px 0; position: relative; }
.tabContainer::before { content: ''; position: absolute; top: 0; left: 0; background: url(../../images/dot-box.png)center center no-repeat; width: 180px; height: 180px; background-size: contain; }
.macroImage { margin: 0 50px; position: relative; z-index: 1; }
.macroImage img { margin: 0 auto; display: flex; width: 100%; height: 570px; object-fit: cover; }
.macroImageWrapper:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 75%; background-color: #273553; z-index: -1; }
.macroImageWrapper { position: relative; z-index: 1; }
.macroImageWrapper .row { align-items: center; color: var(--whiteColor); }
.macroImageContent p { font-size: var(--font24); }
.macroImageContent strong { font-size: var(--font32); display: inline-block; margin-top: 30px; }
.method { padding: 0 50px; margin: 80px 0 0 0; }

/* .methodTitle { margin: 0 0 50px 0; padding: 0 0 50px 0; border-bottom: 1px solid rgb(0 0 0 / 50%); } */
.methodDetailText { display: flex; align-items: flex-start; margin: 0 0 50px 0; }
.methodDetailListing .row { margin: 50px 0 0 0; padding: 50px 0 0 0; border-top: 1px solid #00000080; }
.methodDetailIndex { font-size: var(--font24); color: var(--secondaryColor); font-weight: 700; line-height: 1.3; margin: 0 20px 0 0; }
.deploymentImage { margin: 70px 0 0 0; position: relative; }
.playIcon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background-color: rgb(255 255 255 / 50%); border-radius: 50%; top: 50%; left: 50%; position: absolute; z-index: 1; padding: 0 0 0 3px; color: #00000052; font-size: 20px; pointer-events: none; transform: translate(-50%, -50%); }
.benefitWrapper { margin: 50px 0 0 0; padding: 100px 50px; background: linear-gradient(298.76deg, #273553 31.07%, #0D1C3F 103.82%); }
.benefitListing { margin: 60px 0 0 0; }
.benefitListText .description { font-weight: 500; }
.benefitListText span { display: block; margin: 10px 0 0 0; font-weight: 300; }
.benefitList { background-color: #273553; padding: 50px 30px; border: 1px solid #046A3873; min-height: 350px; position: relative; z-index: 1; height: 100%; }
.benefitList:before { content: ''; position: absolute; width: 100px; height: 130px; border-right: 1px solid #046A38; border-bottom: 1px solid #046A38; z-index: -1; right: -2px; bottom: -2px; }
.indexNumber { color: var(--primaryColor); font-size: var(--font60); font-weight: var(--font800); opacity: 0.5; }
.benefitListText { padding: 30px 0 0 0; }
.flexGrow { margin: 80px 50px 0 50px; }
.flexGrowListing { margin: 40px 0 0 0; display: flex; flex-wrap: nowrap; width: 100%; padding: 0; list-style: none; }
.flexGrowList { flex: 1 1 200px; transition: all 0.5s; background-color: #F3F2EF; height: 550px; position: relative; padding: 80px 40px; display: flex; justify-content: space-between; flex-direction: column; }
.flexGrowList:hover { background: linear-gradient(133.07deg, #0D1C3F 2.94%, #086B38 133.82%); }
.flexGrowList .titleHeading { transition: all 0.3s; }
.flexGrowList:hover .titleHeading { color: var(--whiteColor); }
.flexGrowList .secondaryArrowBtn { position: absolute; bottom: 80px; left: 40px; transition: all 0.3s; }
.flexGrowList .description { opacity: 0; visibility: hidden; transition: all 0.3s; transition-delay: 0.3s; transform: translateY(20px); display: inline-block; }
.flexGrowList:hover .description { opacity: 1; visibility: visible; transform: translateY(0) }
.flexGrowList:hover { flex-grow: 3; }
.flexGrowList:hover .secondaryArrowBtn { opacity: 0; visibility: hidden; }
ul.tab-titles a { text-decoration: none; color: #000; font-weight: 700; padding: 15px 30px; display: inline-block; }
.tab-titles li { position: relative; }
li:before { content: ''; position: absolute; bottom: 0; left: 0; transform-origin: center left; transition: all 0.3s; height: 5px; width: 0; background-color: var(--secondaryColor); }
.tab-titles li.active-li:before { width: 100%; transform-origin: center right; }
.motionGraphics { padding: 0 50px; }
@media (max-width:480px) {
	.tab-titles { display: none; }
	.tabContainer { padding: 50px 0 20px 0; }
	.HeadingTextWrapper { padding: 0 25px 70px 25px; }
	.macroImageContent { padding: 30px 15px; }
	.macroImageContent strong { font-size: 20px; }
	.macroImage { margin: 0; }
	.macroImage img { margin: 0 auto 0 20px; height: 300px; }
	.macroImageContent p { font-size: 16px; }
	.benefitWrapper { margin: 50px 0 0 0; padding: 50px 15px; }
	.benefitTop .sectionHeading, .methodTitle .sectionHeading { font-size: 24px; text-align: left; }
	.method { padding: 0 15px; margin: 50px 0 0 0; }
	.deploymentImage img { width: 100%; }
	.methodDetailListing .row { margin: 30px 0 0 0; padding: 30px 0 0 0; }
	.methodDetailText { margin: 20px 0 0 0; }
	.flexGrow { margin: 50px 15px 0 15px; }
	.flexGrowListing { flex-direction: column; }
	.flexGrowList { height: auto; padding: 50px 20px; }
	.flexGrowList .secondaryArrowBtn { bottom: auto; left: auto; right: 20px; top: 50px; transform: rotate(90deg); }
	.flexGrowList .description { margin: 20px 0 0 0; }
}