.container-xl { width: 100%; margin: 0 auto; padding-left: 15px; padding-right: 15px; }
@media (min-width:576px) {
	.container-xl { max-width: 540px; }
}
@media (min-width:768px) {
	.container-xl { max-width: 720px; }
}
@media (min-width:1024px) {
	.container-xl { max-width: 960px; }
}
@media (min-width:991px) {
	.container-xl { max-width: 960px; }
}
@media (min-width:1280px) {
	.container-xl { max-width: 1140px; }
}
@media (min-width:1440px) {
	.container-xl { max-width: 1320px; }
}
@media (min-width:1441px) {
	.container-xl { max-width: 1320px; }
}
@media (max-width:480px) {
	.container-xl { width: unset; }
}
.row { display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }
.col-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
.col-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
.col-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
.col-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
.col-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
.col-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
.col-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
.col-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
.col-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
.col-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
.col-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
.col-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
@media (max-width:1440px) {
	.col-xxl-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1440px) {
	.col-xxl-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1280px) {
	.col-xl-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:1024px) {
	.col-1024-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:991px) {
	.col-lg-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:768px) {
	.col-md-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:576px) {
	.col-sm-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-1 { flex: 0 0 calc(8.3333333333% - 30px); max-width: calc(8.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-2 { flex: 0 0 calc(16.6666666667% - 30px); max-width: calc(16.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-3 { flex: 0 0 calc(25% - 30px); max-width: calc(25% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-4 { flex: 0 0 calc(33.3333333333% - 30px); max-width: calc(33.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-5 { flex: 0 0 calc(41.6666666667% - 30px); max-width: calc(41.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-6 { flex: 0 0 calc(50% - 30px); max-width: calc(50% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-7 { flex: 0 0 calc(58.3333333333% - 30px); max-width: calc(58.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-8 { flex: 0 0 calc(66.6666666667% - 30px); max-width: calc(66.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-9 { flex: 0 0 calc(75% - 30px); max-width: calc(75% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-10 { flex: 0 0 calc(83.3333333333% - 30px); max-width: calc(83.3333333333% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-11 { flex: 0 0 calc(91.6666666667% - 30px); max-width: calc(91.6666666667% - 30px); padding-right: 15px; padding-left: 15px; }
}
@media (max-width:0px) {
	.col-xs-12 { flex: 0 0 calc(100% - 30px); max-width: calc(100% - 30px); padding-right: 15px; padding-left: 15px; }
}