$roundedElegance : "Rounded Elegance";
$publicSans : 'Public Sans';

$font60 : 60px;
$font50 : 50px;
$font48 : 48px;
$font46 : 46px;
$font40 : 40px;
$font42 : 42px;
$font38 : 38px;
$font32 : 32px;
$font30 : 30px;
$font26 : 26px;
$font24 : 24px;
$font20 : 20px;
$font18 : 18px;
$font16 : 16px;
