.contact { padding: 222px 0 0 0; overflow-x: clip; }
.ctaIcon { width: 60px; height: calc(50px * 1.1); background-color: var(--colorSecondary); clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); display: flex; align-items: center; justify-content: center; }
.contactCta { display: flex; align-items: center; gap: 12px; }
.formWrapper { position: relative; z-index: 1; padding: 60px; padding-right: 0; padding-left: 90px; }
.formWrapper:before { content: ''; position: absolute; width: 50vw; height: 100%; z-index: -1; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); border-radius: 8px; top: 0; left: 0; }
.formWrapper:after { content: ''; position: absolute; width: 55vw; height: 100px; z-index: -1; background: url(../../images/shape-1-white.png)right center no-repeat; border-radius: 8px; background-size: contain; top: -50px; left: 0; transform: translateY(-100%); transition: ease-in-out 0.8s; }
.in-viewport .formWrapper:after { transform: translateY(0); }
.map { margin: 78px 0 50px 0; }
.mapInner { height: 550px; }
.mapInner img { width: 100%; height: 100%; object-fit: cover; }
.formLeftObject { position: absolute; right: 76%; width: 480px; z-index: -2; top: calc(100% - 168px); }
.formLeftObject img { transform: translateX(100%); transition: ease-in-out 0.8s; }
.LeftObjectArrow { position: absolute; top: 0; height: 100%; right: 100%; transform: translateX(-100vw) !important; transition: ease-in-out 0.8s; }
.in-viewport .formLeftObject img { transform: translateX(0); }
.in-viewport .LeftObjectArrow { transform: translateX(0) !important; }
.contactWrapLeft { padding: 70px 0 0 0; }
.contactWrapLeft .subFontMd { color: var(--colorBlack); width: 67%; margin: 0 0 40px 0; }
.contactWrapLeft ul a { font-weight: 600; font-size: var(--fontMd); transition: all 0.3s; }
.contactWrapLeft ul a:hover { color: var(--colorPrimary); }