.tabContent {
  display: none;
  margin-top: 20px;
}

.accordian {
  background-color: #fff;
  margin: 0 0 20px 0;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1019607843);
}
.accordian:last-child {
  margin: 0;
}
.accordian a {
  text-decoration: none;
  color: #003B4A;
  display: inline-block;
}