.clientTesti {
  margin: 80px 0 0 0;
  padding: 120px 0;
  background-color: rgba(138, 224, 188, 0.5019607843);
}
.clientTesti .testiImageSwiper {
  position: relative;
  z-index: 1;
}
.clientTesti .testiImageSwiper:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 20px;
  background: url(../../images/swiper-quote.svg) center center no-repeat;
  background-size: contain;
  width: 60px;
  aspect-ratio: 1;
  z-index: 2;
}
.clientTesti .clientTestiInner .row {
  justify-content: space-between;
}
.clientTesti .clientTestiInner .slideImage {
  border-radius: 20px;
  overflow: clip;
}
.clientTesti .clientTestiInner .slideImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.clientTesti .testiContentSwiper {
  height: 100%;
  position: relative;
}
.clientTesti .testiContentSwiper .swiper {
  height: 100%;
}
.clientTesti .testiContentSwiper .swiper .swiper-wrapper {
  height: 100%;
}
.clientTesti .testiContentSwiper .swiper .swiperControl {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.clientTesti .testiContentSwiper .swiper .swiperControl .swiperBtn {
  width: 50px;
  height: 50px;
  border: 2px solid #003B4A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
}
.clientTesti .testiContentSwiper .swiper .slideContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}