.aboutBanner { padding: 250px 0 0 0; overflow: clip; position: relative; z-index: 1; }
.aboutBanner .heading3xl { color: var(--black); max-width: 70%; margin: 0 auto; margin-bottom: 110px; text-align: center; }
.aboutImage { position: relative; }
.aboutBannerObject { position: absolute; top: 20%; right: -10px; }
.aboutBannerObject img { transform: translateX(100%); transition: ease-in-out 0.8s; }
.aboutBannerLinear { position: absolute; top: 50%; transform: translate(150%, -50%) rotate(180deg) !important; right: 40px; transition-delay: 0.3s; width: 70px; }
.aboutBannerObject.in-viewport img { transform: translateX(0); }
.aboutBannerObject.in-viewport .aboutBannerLinear { transform: translate(0, -50%) rotate(180deg) !important; }
.bornFrom { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); padding: 180px 0; position: relative; z-index: 1; overflow: clip; }
.bornFromBg { position: absolute; bottom: 0; left: -100px; width: 600px; transform: translateY(100%); transition: ease-in-out 0.8s; transition-delay: 0.3s; }
.in-viewport .bornFromBg { transform: translateY(0); }
.bornFromInner .heading2xl { color: var(--colorWhite); }
.bornFromInner .row:last-child { justify-content: flex-end; }
.bornFrom { margin: 70px 0 0 0; }
.bornFromHeading { width: 80%; }
.team { margin: 130px 0; }
.teamTop .subFontLg { color: var(--colorBlack); }
.teamSlideImage { width: 100%; display: flex; align-items: end; height: 100%; }
.teamSwiper { margin: 200px 0 0 0; }
.teamSwiper .swiper-wrapper { transition-timing-function: linear; }
.missionVission { margin: 250px 0 100px 0; overflow-x: clip; }
.missionVissionInner .heading3xl { color: var(--colorBlack); }
.missionVissionInner { display: flex; flex-direction: column; gap: 180px; }
.missionVissionInner .subFontXlg { position: relative; z-index: 1; padding: 150px 360px 150px 240px; margin-top: -100px; background-color: var(--colorWhite); min-height: 530px; display: flex; align-items: center; }
.missionVissionInner .subFontXlg:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../images/pentagone-shape-1.png) center center no-repeat; background-size: contain !important; z-index: 0; }
.missionVissionInner .missionVissionTextWrap:last-child .subFontXlg:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../../images/pentagone-shape-2.png) center center no-repeat; background-size: contain !important; z-index: 0; }
.missionVissionTextWrap { display: flex; }
.missionVissionTextWrap:last-child { flex-direction: row-reverse; }
.missionVissionTextWrap:last-child .subFontXlg { padding: 150px 500px 150px 300px; }
.missionVissionTextWrap:last-child .subFontXlg:after { left: 78.1%; right: auto; transform: translateX(100%); }
.missionVissionInner .subFontXlg:after { content: ''; position: absolute; right: 83.6%; bottom: 0; background: url(../../images/shape-1.png)center center no-repeat; width: 750px; height: 265px; background-size: contain; transform: translateX(-100%); transition: all 0.8s; z-index: 0; opacity: 0; visibility: hidden; }
.missionVissionTextWrap.in-viewport .subFontXlg:after { transform: translateY(0); opacity: 1; visibility: visible; }
.missionVissionContent img { content: ''; position: absolute; width: 760px; height: auto; bottom: 0; right: 85%; z-index: 3; transform: translateX(-100%); transition: all 0.8s; transition-delay: 0.3s; }
.missionVissionInner .row:last-child { margin: 80px 0 0 0; flex-direction: row-reverse; }
.missionVissionInner .row:last-child .subFontXlg { padding: 150px 370px 150px 200px; display: flex; align-items: center; }
.missionVissionInner .row:last-child .missionVissionContent img { transform: translateX(100%); right: auto; left: 90%; }
.missionVissionTextWrap.in-viewport .row:last-child .missionVissionContent img { transform: translateX(0); }
.missionVissionTextWrap.in-viewport .missionVissionContent img { transform: translateX(0); }
.standFor { padding: 120px 0 0 0; background-color: #0A0A0A08; overflow-y: clip; }
.standFor .heading3xl { color: var(--colorBlack); }

/* time line */
.timeLineWrapper { padding: 80px 0 0 0; display: flex; }
.timeLineWrapper ul { margin: 0 auto; padding: 0 0 120px 0; list-style: none; width: 80%; position: relative; }
.timeLineWrapper ul li { width: 70%; padding-block: 50px; position: relative; display: flex; gap: 110px; position: relative; }
.standForTop { max-width: 90%; margin-left: auto; }
.in-view .timeLineBox h4 { color: var(--activeColor); }
.gone-view .timeLineBox h4 { color: var(--activeColor); }
.timeLineBox { opacity: 0.5; transition: all 0.3s; }
.in-view .timeLineBox { opacity: 1; }
.gone-view .timeLineBox { opacity: 1; }
.timeLineWrapper ul li .timeLineBox span { display: block; }
.default-line { content: ""; position: absolute; left: 80px; width: 4px; background: #9999994F; height: 100%; }
.draw-line { width: 6px; height: 0; position: absolute; left: 79px; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); }
.timeLineIndex { transition: all 0.3s; font-size: var(--fontxl); opacity: 0.2; }
.in-view .timeLineIndex { opacity: 1; }
.gone-view .timeLineIndex { opacity: 1; }
.timeLineBox h4 { font-size: var(--font1xl); text-transform: uppercase; font-weight: 400; }
.iconWrap { position: absolute; left: 130%; top: 0; width: 200px; aspect-ratio: 1; display: flex; align-items: center; justify-content: center; opacity: 0; visibility: hidden; transition: all 0.3s; transform: scale(0); }
.gone-view .iconWrap { opacity: 0; visibility: hidden; transform: scale(0); }
.in-view .iconWrap { opacity: 1; visibility: visible; transform: scale(1); }
.icon { position: sticky; top: 120px; }
.helping { margin: 100px 0 120px 0; position: relative; z-index: 1; overflow: clip; }
.helpingObject { position: absolute; top: 0; right: -100px; width: 350px; transform: translateX(100%); transition: ease-in-out 0.8s; }
.in-viewport .helpingObject { transform: translateX(0); }
.helpingDesc span { color: var(--colorBlack); }
.helpingInner .col-lg-4:last-child { align-self: flex-end; }
.helpingHeaing .heading2xl { margin: 26px 0 0 0; }
.helpingDesc div { margin: 26px 0 0 0; }