.contact nav li a { color: var(--colorSecondary); }
.contact .current-menu-item a { color: var(--colorPrimary); }
.contact header.stickyHeader { background-color: #f3e8db; }
.contactBanner { background-color: var(--colorBg); position: relative; z-index: 1; }
.contactBannerInner::after { content: ''; position: absolute; width: 100vw; background-color: var(--colorPrimaryLight); top: 0; right: 100%; z-index: -1; height: 100%; }
.contactBannerInner::before { content: ''; position: absolute; width: 40%; background-color: var(--colorPrimaryLight); left: 0; top: 0; z-index: -1; height: 100%; }
.contactBannerInner { display: flex; align-items: center; justify-content: space-between; position: relative; }
.contactBannerForm { width: 60%; margin: 0 0 0 120px; padding: 160px 0; }
.contactBannerContent { width: 40%; margin: -80px 0 0 0; }
.contactBannerForm .heading7xl { line-height: 1; margin: 0; }
.contactBannerForm .subTextMd { margin: 10px 0 30px 0; color: var(--colorBlack); }
.agreeText { margin: 35px 0 0 0; text-align: center; display: block; font-size: var(--fontSm); font-weight: 300; }
.contactBannerContent h1.heading8xl { color: var(--colorSecondary); line-height: 1; }
.contactBannerContent .subTextMd { color: #000; margin: 20px 0 50px 0; }
.smallObject { height: 150px; width: auto; }
.smallObject img { width: 100%; height: 100%; object-fit: contain; object-position: left; }

/* visitWrp css */
.visitWrp { padding: 100px 0; background-color: var(--colorSecondary); }
.visitWrpInner .row { align-items: center; }
.visitContentTop .heading7xl { color: var(--colorPrimary); }
.visitContent ul { margin: 40px 0 0 0; }
.visitContent ul li { display: flex; align-items: center; gap: 40px; margin: 0 0 25px 0; }
.visitContent ul li span, .visitContent ul li a { color: var(--colorWhite); font-size: var(--fontXl); width: calc(100% - 40px); line-height: 1.3; }
.ulIcon { display: flex; align-self: flex-start; justify-content: center; width: 40px; height: 40px; }
.ulIcon img { width: 100%; height: 100%; object-fit: contain; }
.teleWrap { display: flex; gap: 50px; }
.teleWrap > div { display: flex; align-items: center; gap: 40px; }
.visitContentTop div { margin: 50px 0 40px 0; }
.visitContentTop div strong { font-size: 24px; color: var(--colorPrimary); font-weight: 600; display: block; }
.visitContent { margin: 0 0 0 50px; }

/* ctaWrapper css */
.ctaWrapper { background-color: var(--colorPrimary); padding: 270px 0; position: relative; z-index: 1; overflow: clip; }
.ctaWrapperBg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: soft-light; z-index: -1; }
.ctaWrapperBg img { width: 100%; height: 100%; object-fit: cover; }
.ctaWrapperInner { text-align: center; }
.ctaWrapperInner .subTextMd { display: block; width: 40%; margin: 20px auto 40px auto; }
.BtnWrapper { display: flex; justify-content: center; gap: 40px; margin: 50px 0 0 0; }