/* FONT */
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Medium.woff2') format('woff2'), url('../webfonts/Aeonik-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Medium.woff2') format('woff2'), url('../webfonts/Aeonik-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Bold.woff2') format('woff2'), url('../webfonts/Aeonik-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-LightItalic.woff2') format('woff2'), url('../webfonts/Aeonik-LightItalic.woff') format('woff'); font-weight: 300; font-style: italic; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Light.woff2') format('woff2'), url('../webfonts/Aeonik-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-BoldItalic.woff2') format('woff2'), url('../webfonts/Aeonik-BoldItalic.woff') format('woff'); font-weight: bold; font-style: italic; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-MediumItalic.woff2') format('woff2'), url('../webfonts/Aeonik-MediumItalic.woff') format('woff'); font-weight: 500; font-style: italic; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-BlackItalic.woff2') format('woff2'), url('../webfonts/Aeonik-BlackItalic.woff') format('woff'); font-weight: 900; font-style: italic; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Black.woff2') format('woff2'), url('../webfonts/Aeonik-Black.woff') format('woff'); font-weight: 900; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-ThinItalic.woff2') format('woff2'), url('../webfonts/Aeonik-ThinItalic.woff') format('woff'); font-weight: 100; font-style: italic; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Regular.woff2') format('woff2'), url('../webfonts/Aeonik-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-Thin.woff2') format('woff2'), url('../webfonts/Aeonik-Thin.woff') format('woff'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face { font-family: 'Aeonik'; src: url('../webfonts/Aeonik-RegularItalic.woff2') format('woff2'), url('../webfonts/Aeonik-RegularItalic.woff') format('woff'); font-weight: normal; font-style: italic; font-display: swap; }

/* RESET CSS */
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html:focus-within { scroll-behavior: smooth; }
body { text-rendering: optimizeSpeed; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: var(--fontPrimary); font-size: var(--fontBase); line-height: 1.6; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
a { text-decoration: none; color: inherit; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
ul, ol { list-style: none; margin: 0; padding: 0; }
button { background: none; border: none; cursor: pointer; }
table { border-collapse: collapse; width: 100%; }
.maarqee .swiper-wrapper { transition-timing-function: linear; }
:root { --fontPrimary: 'Aeonik'; --fontSecondary: 'Roboto'; --colorPrimary: #DA1A5D; --colorSecondary: #F79021; --colorAccent: #007484; --colorBg: #FFF9F2; --colorText: #222222; --colorWhite: #ffffff; --colorBlack: #000000; --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 18px; --fontLg: 20px; --fontXlg: 24px; --fontxl: 28px; --font1xl: 32px; --font2xl: 40px; --font3xl: 46px; --font4xl: 50px; }
.formField label { display: block; margin: 0 0 8px 0; color: var(--colorWhite); }
.formField { margin: 0 0 12px 0; position: relative; }
.formField input:not([type="submit"]), .formField textarea, .formField select { padding: 12px; border: 2px solid transparent; outline: none; width: 100%; border-radius: 4px; }
input[type=submit] { background-color: var(--colorAccent); padding: 12px; border: none; gap: 20px; text-decoration: none; text-transform: uppercase; color: var(--colorWhite); border-radius: 6px; transition: all 0.3s; position: relative; }
.formField select { -webkit-appearance: none; background: url(../images/select-drop-down-arrow.svg)right 15px center no-repeat; background-size: 15px; background-color: var(--colorWhite); }
.formField textarea { height: 80px; }
.wpcf7-not-valid-tip { color: var(--colorAccent); position: absolute; top: 100%; font-size: var(--fontSm); }
.wpcf7-not-valid { border: 2px solid #ff0000 !important; background-color: rgb(255 199 199); }
.wpcf7-form-control-wrap { position: unset; display: block; position: relative !important; }
.form-control:focus { box-shadow: none; }
.scrollOff { overflow-y: hidden; }

/* === COMMON CSS START === */
.heading4xl { font-size: var(--font4xl); font-weight: 500; color: var(--colorBlack); text-transform: uppercase; display: inline-block; }
.heading4xl span { color: var(--colorPrimary) }
.heading3xl { font-size: var(--font3xl); font-weight: 500; color: var(--colorWhite); text-transform: uppercase; display: inline-block; }
.heading3xl span { color: var(--colorPrimary); }
.heading2xl { font-size: var(--font2xl); font-weight: 500; color: var(--colorBlack); text-transform: uppercase; }
.heading1xl { font-size: var(--font1xl); font-weight: 500; color: var(--colorBlack); text-transform: uppercase; }
.headingxl { font-size: var(--fontxl); font-weight: 400; color: var(--colorBlack); text-transform: uppercase; }
.subFontXlg { font-size: var(--fontXlg); color: var(--colorBlack); font-weight: 400; display: block; }
.subFontLg { font-size: var(--fontLg); color: var(--colorWhite); font-weight: 400; display: block; }
.subFontMd { font-size: var(--fontMd); color: var(--colorWhite); font-weight: 400; display: block; }
.accentBtn { background-color: var(--colorAccent); display: flex; align-items: center; justify-content: center; width: max-content; padding: 12px; padding-left: 24px; gap: 20px; text-decoration: none; text-transform: uppercase; color: var(--colorWhite); border-radius: 6px; transition: all 0.3s; }
.accentBtn:hover {	    /* background: linear-gradient(269.99deg, #F47932 0.01%, #E65A41 50%, #DB4152 99.99%); */
background-color: var(--colorWhite); color: var(--colorAccent); box-shadow: 0px 6px 15px -4px #0000007a; }
.accentBtn img { width: 24px; height: 24px; display: flex; padding: 4px; transition: all 0.3s; }
.accentBtn:hover img { filter: invert(38%) sepia(93%) saturate(7252%) hue-rotate(175deg) brightness(91%) contrast(101%); ; }
.accentBrdrBtn { background-color: var(--colorWhite); display: flex; align-items: center; justify-content: center; border: 2px solid var(--colorAccent); padding: 10px; padding-right: 24px; gap: 20px; text-decoration: none; text-transform: uppercase; color: var(--colorAccent); border-radius: 6px; transition: all 0.3s; }
.accentBrdrBtn:hover { background-color: var(--colorAccent); color: var(--colorWhite); box-shadow: 0px 6px 15px -4px #0000007a; }
.accentBrdrBtn:hover img { filter: grayscale(100) brightness(10); }
.linearBtn { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); padding: 20px 100px; display: flex; align-items: center; justify-content: center; width: max-content; gap: 20px; border-radius: 4px 4px 0 0; text-transform: uppercase; color: var(--colorWhite); }

/*=== MULTISTEP FORM DESIGN ===*/
input[type="radio"] { visibility: hidden; position: absolute; cursor: pointer; }
input[type=radio]:checked~span { color: var(--colorAccent); font-weight: 500; border: 2px solid var(--colorAccent); position: relative; z-index: 5; }
.opt_list label span { background: #B2B1B11C; text-align: center; padding: 15px; cursor: pointer; width: 100%; display: block; border-radius: 6px; border: 2px solid #EEEEEE; position: relative; z-index: 1; }
.multiStepForm { padding: 0 0 0 60px; }
.multiStepForm .step-label { display: block; font-size: var(--fontxl); color: var(--colorPrimary); }
.multiStepForm>label { font-size: var(--font2xl); display: block; margin: 26px 0 12px 0; }
.multiStepForm .note { font-size: var(--fontMd); display: block; margin-bottom: 24px; }
.multiStepForm input { border: 1px solid #EEEEEE; padding: 14px; color: #999999; border-radius: 6px; outline: none; width: 100%; }
.multiStepForm input:focus { border: 1px solid var(--colorAccent); }
.multiStepForm button { float: unset !important; margin: 40px 0 0 0; }
.choiceWrap { margin: 22px 0 0 0; }
.choiceWrap .wpcf7-list-item { margin: 0; display: block; }
.choiceWrap .wpcf7-list-item label { display: block; margin: 0 0 12px; }
.choiceWrap .wpcf7-list-item label span { text-align: left; }
.multiStepBtnWrap { display: flex; gap: 20px; }

/* === COMMON CSS END === */

/* === HEADER CSS START === */
header { position: fixed; top: 0; left: 0; width: 100%; z-index: 10; margin: 30px 0 0 0; transition: all 0.3s; }
header.stickyHeader { margin: 0; padding: 8px 0; background: linear-gradient(77.36deg, #DA1A5D 3.18%, #F79021 98.97%), linear-gradient(193.05deg, #C4305C 4.3%, rgba(247, 144, 33, 0) 84.43%);    /*  backdrop-filter: blur(10px); */ }
.headerWrap { display: flex; align-items: center; justify-content: space-between; }
.toggleBtn { display: none; }
.logo { position: relative; }
.logo img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.blackHeaderLogo { opacity: 0; visibility: hidden; transition: all 0.3s; }
.blackHeader .headerLogo { opacity: 0; visibility: hidden; transition: all 0.3s; }
.blackHeader .blackHeaderLogo { opacity: 1; visibility: visible; }
.logo { width: 200px; height: 60px; }
.logo img { width: 100%; height: 100%; object-fit: contain; }
header.blackHeader.stickyHeader .blackHeaderLogo { opacity: 0; visibility: hidden; }
header.blackHeader.stickyHeader .headerLogo { opacity: 1; visibility: visible; }
span.menu-item-img { width: 90px; display: block; }
li.active a { color: var(--colorPrimary) !important; }
.blackHeader.stickyHeader li.active a { color: var(--colorBlack) !important; }
.stickyHeader nav ul ul::before, .blackHeader nav ul ul::before { border-bottom: 8px solid #DA1A5D; }
@media (min-width:1025px) {
	nav ul { list-style: none; padding: 0; margin: 0; transition: all 0.3s; }
	nav>ul { display: flex; border-radius: 12px; }
	nav>ul>li a { padding-bottom: 10px; }
	nav li { position: relative; padding: 16px 12px; }
	nav li a { color: var(--colorWhite); position: relative; display: inline-block; text-decoration: none; transition: all 0.3s; position: relative; }
	.blackHeader nav li a { color: var(--colorBlack); }
	header.blackHeader.stickyHeader nav li a { color: var(--colorWhite); }
	nav li a:hover { color: var(--colorPrimary); }
	nav ul ul { position: absolute; background-color: rgb(255 255 255 / 30%); border-radius: 8px;        /* overflow: hidden; */ transform: translateY(20px); opacity: 0; visibility: hidden; transition: all 0.3s; pointer-events: none; backdrop-filter: blur(20px); }
	.blackHeader nav ul ul { background: linear-gradient(77.36deg, #DA1A5D 3.18%, #F79021 98.97%), linear-gradient(193.05deg, #C4305C 4.3%, rgba(247, 144, 33, 0) 84.43%); ; }
	nav ul ul::before { content: ''; position: absolute; bottom: 100%; left: 10px; border-bottom: 8px solid rgb(255 255 255 / 30%); border-top: 8px solid transparent; border-left: 8px solid transparent; border-right: 8px solid transparent; }
	.stickyHeader nav ul ul { background: linear-gradient(77.36deg, #DA1A5D 3.18%, #F79021 98.97%), linear-gradient(193.05deg, #C4305C 4.3%, rgba(247, 144, 33, 0) 84.43%); background-color: unset !important; }
	nav ul ul .menu-item-title { display: none; }
	nav ul ul li { padding: unset; padding-right: 50px; margin: 16px 12px 0; }
	nav>ul>li:hover ul { opacity: 1; visibility: visible; transform: translateY(0); pointer-events: auto; }
}
@media (max-width:1024px) {
	.headerOption { position: fixed; top: 0; right: 0; width: 400px; height: 100vh; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); transform: translateX(100%); transition: all 0.3s; list-style: none; padding: 140px 0 0 0; margin: 0; }
	.headerOption.openMenu { transform: translateX(0); }
	nav ul li a { display: inline-block; width: 100%; margin: 20px 40px; font-size: 22px; color: var(--colorWhite); text-decoration: none; }
	.toggleBtn { display: flex; width: 40px; height: 40px; align-items: center; justify-content: center; gap: 7px; flex-direction: column; position: relative; z-index: 10; border-radius: 12px; }
	.toggleBtn span { width: 20px; height: 2px; background-color: var(--colorWhite); display: block; border-radius: 80px; transition: all 0.3s; }
	.blackHeader .toggleBtn span { background-color: var(--colorPrimary); }
	.toggleBtn.closeBtn span:first-child { transform: rotate(45deg) translate(2px, 3px); }
	.toggleBtn.closeBtn span:last-child { transform: rotate(-45deg) translate(3px, -4px); }
	.toggleBtn span:nth-child(2) { display: none; }
}

/* === HEADER CSS END === */

/* === BANNER CSS START === */
.banner { position: relative; background: linear-gradient(77.36deg, #DA1A5D 3.18%, #F79021 98.97%), linear-gradient(193.05deg, #C4305C 4.3%, rgba(247, 144, 33, 0) 84.43%); z-index: 1; min-height: 100vh; display: flex; flex-direction: column; justify-content: flex-end; padding: 0 0 60px 0; }
.topBox { display: flex; align-items: center; gap: 10px; color: var(--colorWhite); }
.bannerBg video[poster] { mix-blend-mode: soft-light; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; width: 100%; height: 100%; object-fit: cover; }
.ContentBox .row { justify-content: space-between; align-items: flex-end; margin-bottom: 35px; }
.bannerInner>.row:last-child { justify-content: flex-end; }

/* === BANNER CSS END === */

/* === MARQUEE CSS START === */
.maarqee { margin: 50px 0; }
.maarqeeTop span { color: var(--colorBlack); text-transform: uppercase; font-size: var(--fontMd); font-weight: 500; margin: 0 0 20px 0; display: inline-block; }
.maarqeeImage { display: flex; align-items: center; justify-content: center; height: 100%; }
.maarqee .swiper .swiper-slide { height: auto; }

/* === MARQUEE CSS END === */

/* === SUSTAINABILITY CSS START === */
.sustainability { position: relative; overflow-x: clip; padding: 100px 0; margin: 100px 0; }
.sustainabilityInner { margin: 64px 0 0 0; }
.sustainabilityTop { position: relative; }
.sustainabilityTopInner { width: 70%; margin: 0 auto; }
.sustainabilityObject { position: absolute; left: -210px; top: 0; }
.sustainabilityObject2 { position: absolute; right: -110px; bottom: -80px; }
.sustainabilityObject2 img { transform: translateX(100%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.sustainabilityObject img { transform: translateX(-220%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.sustainabilityObject .linearArrow { position: absolute; top: -50%; right: 1px; transition-delay: 0.3s; width: 76px; }
.sustainability.in-viewport .sustainabilityObject img, .sustainability.in-viewport .sustainabilityObject2 img { transform: translateX(0); opacity: 1; visibility: visible; }
.sustainabilityBox { background-color: var(--colorBg); border-radius: 8px; position: relative; transition: all 0.3s; padding-bottom: 100px; }
.sustainabilityBox:hover { padding-bottom: 180px; }
.sustainabilityBoxImage { height: 390px; position: relative; z-index: 1; overflow: clip; }
.sustainabilityBoxImage:before { content: ''; position: absolute; background: url(../images/sustainabilityBg.png)center center no-repeat; background-size: cover; width: 100%; height: 100%; z-index: -1; }
.sustainabilityBoxImage img { margin: 0 auto; padding: 50px 0 0 0; }
.sustainabilityBoxLogo { justify-content: center; display: flex; margin: 16px 0 0 0; }
.sustainabilityBoxContent { display: flex; flex-direction: column; align-items: center; gap: 30px; margin-top: 44px; padding: 0 75px; position: absolute; width: 100%; height: auto; bottom: -25px; opacity: 0; visibility: hidden; transform: translateY(50px);    /*  transition-delay: 0.2s !important; */ transition: all 0.3s; }
.sustainabilityBox:hover .sustainabilityBoxContent { transform: translateY(0); opacity: 1; visibility: visible; }
.sustainabilityBoxContent .subFontMd { color: var(--colorBlack); font-weight: 300; line-height: 27px; }
.downArrow { position: absolute; bottom: 25px; left: 50%; transform: translateX(-50%); transition: all 0.3s; animation: bounce 2s ease-in-out infinite; }
.sustainabilityBox:hover .downArrow { opacity: 0; visibility: hidden; }
@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
}
.shape1 { width: 380px; }

/* === SUSTAINABILITY CSS END === */

/* === VIDEOONLY CSS START === */
.videoOnly { height: 100vh; position: relative; overflow-x: clip; }
.videoOnly video { height: 100%; width: 100%; object-fit: cover; }
.videoOnlyObject { position: absolute; bottom: -10%; right: -10px; z-index: 1; }
.videoOnlyObject img { transform: translateX(100%); transition: ease-in-out 0.8s; }
.videoOnlyLinear { position: absolute; top: 50%; transform: translate(150%, -50%) rotate(180deg) !important; right: 40px; transition-delay: 0.3s; width: 80px; }
.videoOnlyObject.in-viewport img { transform: translateX(0); }
.videoOnlyObject.in-viewport .videoOnlyLinear { transform: translate(0, -50%) rotate(180deg) !important; }

/* === VIDEOONLY CSS END === */

/* === ORGANIZATION CSS START === */
.organizations { padding: 174px 0; background-color: #0A0A0A08; overflow-x: clip; position: relative; z-index: 1; }
.organizationsBgShap { position: absolute; top: 45%; left: -40%; z-index: -1; width: 900px; }
.organizationsBgShap img { transform: translateX(-100%); transition: 0.8s ease-in-out; }
.in-viewport .organizationsBgShap img { transform: translateX(0); }
.organizationsTop { display: flex; align-items: flex-end; justify-content: space-between; }
.organizationsTop .heading2xl { width: 40%; }
.organizationsTop .accentBtn { position: relative; }
.organizationsTop .accentBtn:before { content: ''; position: absolute; width: 160%; height: 2px; background-color: var(--colorAccent); right: 100%; top: 50%; }
.organizations .swiper { margin-top: 70px; max-width: 75%; margin-right: 0; }
.organizationsSlide { padding: 60px 32px; background-color: var(--colorWhite); display: flex; flex-direction: column; gap: 150px; height: 100%; }
.organizationsSlide .headingxl { text-transform: none; }
.organizations .swiper .swiper-slide { height: auto; }
.slideLottie { width: 100px; height: 100px; }
.slideLottie img { width: 100%; height: 100%; object-fit: contain; }
.organizationsSlideListing { display: flex; gap: 20px; }
.organizationsSlide { min-width: 300px;    /* adjust to your design */ }

/* === ORGANIZATION CSS END === */

/* === GLOBAL REACH CSS START === */
.globaleReach { padding: 200px 0 0 0; }
.globaleReachInner { position: relative; }
.owalWrapper img { position: absolute; top: 0; left: 0; }
.cityList { position: relative; background: linear-gradient(269.99deg, #F47932 0.01%, #E65A41 50%, #DB4152 99.99%); width: 240px; aspect-ratio: 1; border-radius: 50%; display: flex; align-items: center; justify-content: center; text-align: center; }
.cityName { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 28px; line-height: 27px; }
.cityImage { width: calc(100% - 6px); height: calc(100% - 6px); transform: scale(0); opacity: 0; visibility: hidden; transition: all 0.5s; border-radius: 50%; overflow: clip; }
.cityList:hover .cityImage { transform: scale(1); opacity: 1; visibility: visible; }
.cityImage img { width: 100%; height: 100%; }
.cityList:first-child { top: 0; left: 180px; }
.cityList:nth-child(2) { top: -220px; left: 600px; width: 180px; }
.cityList:nth-child(3) { top: -260px; left: 850px; width: 130px; }
.cityList:nth-child(4) { top: -300px; left: 1000px; width: 220px; }
.cityList:last-child { top: -300px; left: 300px; width: 160px; }
.globaleReachTop h3 { display: flex; align-items: center; gap: 20px; justify-content: center; }
.globaleReachTop { position: absolute; top: 40%; transform: translate(-50%, -50%); left: 50%; width: 100%; }

/* === GLOBAL REACH CSS END === */

/* === PROGRESS CSS START === */
.ourProgress { overflow-x: clip; position: relative; z-index: 1; }
.ourProgressObject { position: absolute; width: 600px; right: -20%; top: -105px; }
.ourProgressObject img { transform: translateX(100%); transition: ease-in-out 0.8s; }
.ourProgress.in-viewport .ourProgressObject img { transform: translateX(0); }
.ourProgress .swiper { overflow: visible; margin: 45px 0 0 0; }
.ourProgressInner .swiper-slide { height: auto; }
.progressSlideImage { width: 100%; height: 100%; border-radius: 6px; overflow: clip; }
.progressSlideImage img { width: 100%; height: 100%; object-fit: cover; transition: all 0.3s; }
.progressSlide { position: relative; height: 100%; }
.progressSlideDesc { width: 60%; position: absolute; bottom: 0; left: 0; margin: 20px; background-color: var(--colorWhite); padding: 10px 20px; }
.progressSlideDesc a { margin: 16px 0 0 0; display: inline-block; }
.progressSlideDesc .headingxl { text-transform: unset; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }
.progressSlide:hover .progressSlideImage img { transform: scale(1.1); }

/* === PROGRESS CSS END === */

/* === READY TO SEE CSS START === */
.readyToSee { margin: 150px 0 50px 0; }
.readyToSeeInner { position: relative; z-index: 1; ; padding: 100px 65px; }
.readyToSeeBg { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; }
.readyToSeeBg img { width: 100%; height: 100%; object-fit: cover; }
.readyToSeeContent { width: 90%; }
.readyToSeeContent .heading4xl { color: var(--colorWhite); }
.readyToSeeContent .subFontMd { margin: 30px 0; }
.readyToSeeInnerObject { position: absolute; top: -20%; right: 100px; width: 170px; }
.readyToSeeInnerObject img { position: absolute; top: 0; left: 0; transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; transform: translateX(-100px); }
img.greenArrow { transform: rotate(180deg) translateX(100px) !important; }
.readyToSeeInner.in-viewport img { opacity: 1; visibility: visible; transform: translateX(0px) }
.readyToSeeInner.in-viewport img.greenArrow { transform: rotate(180deg) translateX(-40px) !important; }
.mobileImage { display: none; }

/* === READY TO SEE CSS END === */

/* === FOOTER CSS START === */
.footerTop, .footerBottom { display: flex; align-items: center; justify-content: space-between; }
.footerUl ul { display: flex; align-items: center; gap: 15px; }
.footerBottom { padding: 20px 0; margin: 20px 0 0 0; border-top: 1px solid var(--colorPrimary); }
.footerBottomLeft { width: 230px; }
.footerBottomUl a { width: 35px; height: 35px; background: linear-gradient(90deg, #DB3D4E 0%, #E45944 50.96%, #ED7434 100%); display: flex; align-items: center; justify-content: center; border-radius: 4px; overflow: clip; transition: all 0.3s; }
.footerBottomUl ul { display: flex; gap: 10px; }

/* === FOOTER CSS END === */
.privacy-policy { background-color: #F8F8F8; }
.pageTopPadding { padding: 250px 0 50px 0; position: relative; z-index: 1; overflow: clip; }
.contentBlock { margin: 120px 0 0; padding: 70px; background-color: var(--colorWhite); }
.contentBlock ul { list-style: disc; margin-left: 20px; margin-bottom: 20px; }
.contentBlock strong { color: #DA1A5D; font-size: 22px; }

/* Privacy Policy page css */
.DetailPageObject1 { position: absolute; right: -20px; top: 255px; width: 150px; }
.DetailPageObject1 img { transform: translateX(110%); transition: ease-in-out 0.8s; }
.DetailPageObject1 .linearArrow { position: absolute; top: 24%; right: 20px; transition-delay: 0.3s; width: 75.5px; transform: translateX(110%) rotate(180deg); }
.in-viewport .DetailPageObject1 img { transform: translateX(0); }
.in-viewport .DetailPageObject1 .linearArrow { transform: translateX(0) rotate(180deg); }
.DetailPageObject2 { position: absolute; left: -150px; top: 215px; width: 500px; }
.DetailPageObject2 img { transform: translateX(-110%); transition: ease-in-out 0.8s; }
.DetailPageObject2 .linearArrow { position: absolute; top: 0; right: 83px; transition-delay: 0.3s; width: 76px; transform: translateX(-350%) !important; }
.in-viewport .DetailPageObject2 img { transform: translateX(0); }
.in-viewport .DetailPageObject2 .linearArrow { transform: translateX(0) !important; }