/* textOnly css */
.textOnly { padding: 250px 0; position: relative; z-index: 1; overflow-x: clip; }
.bgImageWrap { position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; padding: 30px 0 0 0; }
.bgImageWrap img { width: 100%; height: 100%; object-fit: contain; }
.textOnlyInner { width: 56%; margin: 0 auto; }
.textOnlyInner .mSubText { margin: 24px 0; }
.textOnlyInner .xlHeading { text-transform: capitalize; }
.lineWrap { transition: all 0.4s ease; opacity: 1; visibility: visible; }
.lineWrap.hidden { opacity: 0; visibility: hidden; }
.lineWrap>span { display: block; width: 80%; height: 6px; border-radius: 30px; }
.lineWrap>span>span { display: block; width: 0%; height: 100%; background: linear-gradient(270deg, #6161FF 0%, #8560CC 23.68%, #F75D28 100%); border-radius: 30px; }
.videoList { position: relative; width: 70%; min-height: 500px; height: 100%; margin: 0 auto; }
.videoDiv { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain; border: 1px solid #CFCFFF; margin: 0 auto; padding: 12px; border-radius: 18px; }
.videoDetailInner { position: relative; height: 100%; cursor: pointer; }
.videoDiv video { width: 100%; height: 100%; object-fit: cover; border-radius: 14px; border: 1px solid #CFCFFF; box-shadow: 0px 3px 15.9px -3px #CFCFFF; }
.videoDetail { margin: 40px 0 0 0; position: relative; }
.videoSwiperController .prevBtn { position: absolute; top: 50%; left: 0; transform: translateY(-50%); z-index: 1; }
.videoSwiperController .nextBtn { position: absolute; top: 50%; right: 0; transform: translateY(-50%); z-index: 1; }
.videoSwiperController .prevBtn, .videoSwiperController .nextBtn { font-size: 26px; color: var(--primary-color) }
.videoDetailContent .tertiaryBtn { margin: 20px 0 0 0; }
.videoWrap { padding: 50px 0 150px 0; }
.videoDetailContent { height: calc(100% - 18px); display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; margin: 12px 0 0 0; width: 80%; }
.swiper-button-lock { display: none }
.videoDetail .swiper-slide { height: auto; }

/* workflows css */
.workflows { margin: 0 0 170px 0; }
.workflowsSwiper .swiper-slide { height: auto }
.wfSlideImageInner { height: 100%; }
.workflowsSlide { background-color: var(--primary-color); padding: 20px; border-radius: 30px; display: flex; gap: 40px; height: 100%; }
.wfSlideImage > img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.wfSlideImage { position: relative; border-radius: 25px; overflow: clip; width: 50%; }
.wfSlideImage .wfSlideImageInner img { width: 100%; height: 100%; object-fit: cover; }
.wfSlideContent { width: 50%; }
.wfSlideContent .lHeading { font-weight: 600; color: var(--white-color); margin: 0; }
.wfContentDesc { margin: 18px 0; color: var(--white-color); }
.wfContentDesc span:first-child { margin-bottom: 12px; display: block; }
.wfContentDesc span i { display: block; }
.workflowsFilterTop ul { display: flex; list-style: none; justify-content: center; gap: 18px; margin: 50px 0; padding: 0; }
.workflowsFilterTop ul .primaryBtn a { padding: 10px 25px; }

/* policy css */
.policy { padding: 120px 0; background-color: var(--secondary-color); }
.flip-box { transform-style: preserve-3d; perspective: 1000px; }
.flip-box-front, .flip-box-back { background-size: cover; background-position: center; min-height: 400px; transition: transform 0.7s cubic-bezier(.4, .2, .2, 1); backface-visibility: hidden; border-radius: 22px; padding: 35px; }
.flip-box-front { transform: rotateY(0deg); transform-style: preserve-3d; display: flex; flex-direction: column; justify-content: space-between; }
.flip-box:hover .flip-box-front { transform: rotateY(180deg); transform-style: preserve-3d; }
.flip-box-back { position: absolute; top: 0; left: 0; width: 100%; transform: rotateY(-180deg); transform-style: preserve-3d; }
.flip-box:hover .flip-box-back { transform: rotateY(0deg); transform-style: preserve-3d; }
.flip-box .inner {	    /*  position: absolute; left: 0; */
width: 100%; perspective: inherit; z-index: 2; transform: translateZ(60px) scale(.94); top: 80px; height: 100%; padding: 30px; position: absolute; left: 0; font-size: 18px; font-family: 'Archivo'; }
.flip-box .inner p { font-family: var(--archivo); }
.flip-box-front .lHeading { width: 77%; }
.policyListing { margin: 50px 0 0 0; }
.policyTop .xlHeading { color: var(--white-color); }
.policyTop .xlHeading span { background: linear-gradient(90deg, #6161FF 59.13%, #F75D28 87.02%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.saved { background: linear-gradient(90deg, #6161FF 0%, #F75D28 100%); padding: 20px 80px; border-radius: 20px; }
.left, .right { display: flex; align-items: center; gap: 80px; }
.right { gap: 120px; }
.circleImage { position: relative; width: 250px; aspect-ratio: 1; }
.circleImage span, .rightImage span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: var(--xxm-font); color: var(--white-color); font-weight: 600; width: 80%; line-height: 27px; }
.rightImage span { width: 190%; }
.rightImage { position: relative; }
.saved .row { align-items: center; justify-content: space-between; }
.flipBoxIcon { width: 35px; height: 35px; opacity: 0; visibility: hidden; }
.policyListing .col-lg-3:nth-child(2) .flipBoxIcon { transform: rotate(90deg); }
.policyListing .col-lg-3:nth-child(3) .flipBoxIcon { transform: rotate(180deg); }
.policyListing .col-lg-3:nth-child(4) .flipBoxIcon { transform: rotate(270deg); }
.policyListing .col-lg-3:nth-child(5) .flipBoxIcon { transform: rotate(360deg); }
.policyListing .col-lg-3:nth-child(6) .flipBoxIcon { transform: rotate(450deg); }
.policyListing .col-lg-3:nth-child(7) .flipBoxIcon { transform: rotate(540deg); }
.policyListing .col-lg-3:last-child .flipBoxIcon { transform: rotate(630deg); }

/* tracker css */
section.tracker { position: relative; z-index: 1; background-color: var(--secondary-color); padding: 150px 0 0 0; }
.trackerBgImage { position: absolute; width: 100%; height: 100%; z-index: -1; opacity: 0.3; top: 0; left: 0; }
.trackerBgImage img { width: 100%; height: 100%; object-fit: cover; }
.trakerBillImage { position: absolute; bottom: 0; right: 0; }
.trackerInner { position: relative; }
.trackerInner .xlHeading { color: var(--white-color); font-weight: 600; }
.trackerContent { padding: 0 0 200px 0; }
.trakerBillImage { width: 750px; }
.mobileImage { display: none; }

/* take a tour css */
.videoSec { padding: 60px 0 78px 0; position: relative; }
.videoSecInner .VideoOnly { width: 80%; margin: 0 auto; position: relative; z-index: 1; border-radius: 12px; height: 600px; }
.videoSecInner video { width: 100%; height: 100%; object-fit: contain; position: relative; border-radius: 10px; box-shadow: 0px 3px 15.9px -3px #B5B5FF; }
.videoSecInner iframe { width: 100%; height: 100%; object-fit: contain; position: relative; border-radius: 10px; box-shadow: 0px 3px 15.9px -3px #B5B5FF; }
.VideoOnly:before { content: ''; position: absolute; top: -1px; left: -1px; background: linear-gradient(45deg, #6161FF 0%, #F75D28); width: calc(100% + 2px); height: calc(100% - 5px); z-index: 0; border-radius: 12px; }
.formPopUp .xxlHeading { letter-spacing: -0.8px; }
.formPopUp .row { align-items: center; }
.hs-form-frame { background-color: var(--primary-color); border-radius: 20px; }
.formPopUp { height: 100%; position: absolute; top: 0; left: 0; width: 100%; background-color: #ffffff80; z-index: 11; backdrop-filter: blur(25px); ; }
.nextStep { max-width: 80%; margin: 0 auto; padding: 30px; border-radius: 12px; background-color: var(--primary-color); margin-top: 20px; }
.nextStep .nSubText { color: var(--white-color); line-height: 22px; margin: 20px 0; display: block; }
.formPopUp .col-lg-6:first-child { min-height: 700px; display: flex; align-items: center; }

/* latest Policy css */
.latestPolicy { padding: 0 0 160px 0; }
.latestPolicyListing { margin: 50px 0 0 0; }
.latestPolicyList1 { position: relative; overflow: clip; border-radius: 20px; height: 100%; }
.latestPolicyList1 .latestPolicyImage { width: 100%; height: 70%; }
.latestPolicyList2 .latestPolicyImage { width: 100%; height: 250px; border-radius: 20px; overflow: clip; }
.latestPolicyImage img { width: 100%; height: 100%; object-fit: cover; }
.latestPolicyList1 .latestPolicyContent { width: 100%; background-color: var(--secondary-color); display: block; padding: 60px 45px; border-radius: 20px; margin-top: -15%; position: relative; z-index: 1; }
.latestPolicyList2 .latestPolicyContent { padding: 50px; }
.latestPolicyContent .mSubText { color: var(--white-color); margin-bottom: 20px; }
.linkBtn { color: #F75D28; font-weight: 600; text-decoration: none; }
.latestPolicyList2 { background-color: var(--primary-color); display: flex; flex-direction: column; justify-content: space-between; height: 100%; border-radius: 20px; overflow: clip; }
.simpleBlogList { background-color: var(--secondary-color); padding: 50px; border-radius: 20px; height: 45%; display: flex; justify-content: center; flex-direction: column; }
.simpleBlogList .mSubText { color: var(--white-color); margin-bottom: 20px; }
.simpleBlogList:last-child { background-color: var(--primary-color); height: 55%; }
.simpleBlogListing { display: flex; flex-direction: column; gap: 12px; height: 100%; }