.consultingBanner { padding: 250px 0 0 0; background-color: #0A0A0A08; position: relative; z-index: 1; overflow: clip; }
.cbContent .subFontLg { color: var(--colorBlack); margin: 0 0 40px 0; }
.consultingImage { margin: 80px 0 0 0; }
.consultingBannerObject { position: absolute; top: 20%; right: -10px; }
.consultingBannerObject img { transform: translateX(100%); transition: ease-in-out 0.8s; }
.consultingLinear { position: absolute; top: 50%; transform: translate(150%, -50%) rotate(180deg) !important; right: 40px; transition-delay: 0.3s; width: 76px; }
.consultingBannerObject.in-viewport img { transform: translateX(0); }
.consultingBannerObject.in-viewport .consultingLinear { transform: translate(0, -50%) rotate(180deg) !important; }

/*  */
.consultingSec { padding: 100px 0; background-color: #0A0A0A08; position: relative; }
.consultingObject { position: absolute; left: -110px; top: 260px; }
.consultingObject img { transform: translateX(-220%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.consultingObject .linearArrow { position: absolute; top: 0; left: calc(100% + 10px); transition-delay: 0.3s; height: 100%; }
.consultingSec.in-viewport .consultingObject img { transform: translateX(0); opacity: 1; visibility: visible; }
.consultingTop .row { justify-content: space-between; }
.consultingHeading span { text-transform: uppercase; color: var(--colorPrimary); font-size: var(--fontXlg); font-weight: 500; }
.consultingContent { margin: 40px 0 0 0; }
.consultingContent .subFontLg { color: var(--colorBlack); margin: 0 0 40px 0; }
.consultingListing { display: flex; margin: 100px 0 0 0; }
.consultingList { overflow: clip; position: relative; width: 100%; height: 100%; }
.consultingList:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); z-index: -2; }
.consultingListInner { position: relative; z-index: 1; height: 100%; padding: 50px 30px; transform: translateY(calc(100% - 180px)); transition: all 0.3s; }
.consultingListInner:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); z-index: -1; transition: all 0.3s; opacity: 0; visibility: hidden; }
.consultingList:hover .consultingListInner { transform: translateY(0); }
.indexNumber { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); font-size: var(--fontxl); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: 500; }
.consultingList:hover .indexNumber { opacity: 0; visibility: hidden; }
.consultingList:hover .consultingListInner:before { opacity: 1; visibility: visible; }
.consultingList:after { content: ''; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px); background-color: #fff; top: 1px; left: 1px; z-index: -1; }
.indexNumber { position: absolute; top: 50px; left: 30px; z-index: 2; }
.consultingText { display: flex; flex-direction: column; justify-content: space-between; gap: 200px; height: 100%; }
.consultingText .headingxl { text-transform: uppercase; transition: all 0.3s; }
.consultingText .subFontXlg { transition: all 0.3s; }
.consultingList:hover .headingxl, .consultingList:hover .subFontXlg { color: var(--colorWhite); }

/* born From css */
.bornFrom { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); padding: 180px 0; position: relative; z-index: 1; overflow: clip; }
.bornFromBg { position: absolute; bottom: 0; left: -100px; width: 600px; transform: translateY(100%); transition: ease-in-out 0.8s; transition-delay: 0.3s; }
.in-viewport .bornFromBg { transform: translateY(0); }
.bornFromInner .heading2xl { color: var(--colorWhite); }
.bornFromInner .row:last-child { justify-content: flex-end; }
.bornFrom { margin: 70px 0 0 0; }
.bornFromContent>div { margin: 30px 0 0 0; }

/* can Help css */
.canHelp { padding: 160px 0; position: relative; overflow: clip; }
.canHelpListing { margin: 65px 0 0 0; }
.canHelpList { border-top: 1px solid #0000004A; padding: 40px 0; display: flex; align-items: center; gap: 100px; }
.canHelpList:last-child { border-bottom: 1px solid #0000004A }
.canHelpList h3 { width: 400px; transition: all 0.3s; }
.canHelpList:hover h3 { color: var(--colorPrimary); }
.canHelpList .subFontXlg { width: calc(100% - 400px); }
.canHelpObject { position: absolute; right: -110px; top: 40px; }
.canHelpObject img { transform: translateX(120%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.canHelp.in-viewport .canHelpObject img { transform: translateX(0); opacity: 1; visibility: visible; }

/*  milestoneSwiper css */
.milestoneSwiper { overflow: clip; padding: 80px 0; background-color: #FFF9F1; position: relative; }
.milestoneSwiperTop { margin: 0 0 80px 0; }
.milestoneSwiper .swiper { overflow: visible; padding: 0 0 70px 0; }
.milestoneSlide { background-color: var(--colorWhite); padding: 100px 50px; height: 100%; position: relative; }
.milestoneSlide::before { content: ''; position: absolute; top: 20px; left: -10px; width: 25px; height: 25px; background: url(../../images/coma-image.svg)center center no-repeat; background-size: contain; }
.milestoneSlideContent { margin: 50px 0 0 0; display: flex; flex-direction: column; gap: 40px; height: calc(100% - 50px - 45px); justify-content: space-between; }
.milestoneSlideLogo { height: 45px; width: 100%; }
.milestoneSlideLogo img { height: 100%; width: 100%; object-fit: contain; object-position: left; }
.milestoneSlideContent strong span { display: block; }
.swiper { position: unset; }
.swiper-slide { height: auto; }
.swiper-scrollbar-horizontal { height: 1px !important; background-color: #00000034 !important; bottom: 80px !important; }
.swiper-scrollbar-drag { height: 12px; border-radius: 50%; top: -6px; background-color: var(--colorPrimary); }