.faq { background-color: #F8F8F8; }
.filterWrapper { padding: 250px 0 0 0; position: relative; z-index: 1; overflow: clip; }
.filterWrapperTop .heading3xl { color: var(--colorBlack); width: 60%; margin: 0 auto; }
.filterData .headingxl { font-size: var(--fontMd); }
.filterWrapperObject { position: absolute; right: -210px; top: 200px; }
.filterWrapperObject2 { position: absolute; left: -110px; top: 300px; }
.filterWrapperObject2 img { transform: translateX(-100%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.filterWrapperObject img { transform: translateX(220%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.filterWrapperObject .linearArrow { position: absolute; transform: translateX(220%) rotate(180deg); top: -49%; left: 1px; transition-delay: 0.3s; transform: all 0.3s; width: 75px; }
.filterWrapper.in-viewport .filterWrapperObject img, .filterWrapper.in-viewport .filterWrapperObject2 img { transform: translateX(0); opacity: 1; visibility: visible; }
.filterWrapper.in-viewport .filterWrapperObject .linearArrow { transform: translateX(0) rotate(180deg); }
.accordion { margin: 80px auto 0 auto; width: 80%; }
.accordion-item { margin: 0 0 10px 0; border: 1px solid #F2F2F2; border-radius: 6px; overflow: clip; background-color: var(--colorWhite); }
.accordion-button { background-color: transparent !important; box-shadow: none !important; font-size: var(--fontLg); padding: 18px 35px; }
.accordion-button:after { display: none; }
.accordion-header { position: relative; }
.accordion-header:before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); right: 20px; background: url(../../images/accordian-plus.svg) center center no-repeat; background-size: contain; width: 44px; height: 44px; }
.accordion-header.active:before {  background: url(../../images/accordian-minus.svg) center center no-repeat; }
.accordion-button { font-weight: 400; }
.accordion-button:not(.collapsed) { font-weight: 500 !important; color: var(--colorBlack); }
.accordion-body { padding: 16px 35px; padding-left: 50px; position: relative; width: 75%; font-size: var(--fontMd); }
.accordion-body::before { content: ''; position: absolute; top: 23px; left: 30px; background: url(../../images/linear-arrow.png)center center no-repeat; background-size: contain; width: 15px; height: 16px; }
.accordion-item:not(:first-of-type) { border-top: 1px solid #F2F2F2; }

/* concerns css */
.concerns { margin: 50px 0; }
.concernInner { position: relative; }
.concernContent div { display: flex; justify-content: center; margin: 35px 0 0 0; }
.concernInner { background: linear-gradient(269.99deg, #F47932 0.01%, #E65A41 50%, #DB4152 99.99%); padding: 50px 0; border-radius: 6px; }
.concernContent .heading2xl { color: var(--colorWhite); margin: 0 0 5px 0; }
.concernContent .subFontMd { font-weight: 300; width: 30%; margin: 0 auto; }
.concernsObject { position: absolute; bottom: 60%; right: 100px; width: 110px; }
.concernsObject img { position: absolute; top: 0; left: 0; transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; transform: translateX(-100px); }
img.greenArrow { transform: rotate(180deg) translateX(100px) !important; }
.concerns.in-viewport img { opacity: 1; visibility: visible; transform: translateX(0px) }
.concerns.in-viewport img.greenArrow { transform: rotate(180deg) translateX(-25px) !important; }