.industriesBanner { padding: 250px 0 0 0; overflow-x: clip; position: relative; z-index: 1; }
.industriesBannerObject { position: absolute; right: -50px; top: 50%; transform: translateY(-50%); }
.industriesBannerObject img { transform: translateX(120%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; width: 200px; }
.linearArrow { position: absolute; top: 50%; transform: translate(150%, -50%) rotate(180deg) !important; right: 40px; transition-delay: 0.3s; width: 76px !important; }
.industriesBanner.in-viewport .linearArrow { transform: translate(0, -50%) rotate(180deg) !important; }
.industriesBanner.in-viewport .industriesBannerObject img { transform: translateX(0); opacity: 1; visibility: visible; }
.industriesBannerContent .subFontLg { color: var(--colorBlack); }
.industriesBannerContent div { margin: 32px 0 0 0; }
.industriesBannerInner .row:last-child { justify-content: flex-end; margin-top: 80px; }
.industriesBannerObject2 { position: absolute; left: -40px; bottom: -40px; width: 800px; }
.industriesBannerObject2 img { transform: translateX(-120%); transition: ease-in-out 0.8s; opacity: 0; visibility: hidden; }
.industriesBanner.in-viewport .industriesBannerObject2 img { transform: translateX(0); opacity: 1; visibility: visible; }

/*servingListing css */
.servingListing { padding: 200px 0 0; }
.servingList { margin: 0 0 100px 0; }
.servingListTop * { color: var(--colorBlack) !important; }
.servingListTop .heading3xl { padding-left: 50px; position: relative; margin: 0; line-height: 50px; }
.servingListTop .heading3xl:before { content: ''; position: absolute; width: 25px; height: 50px; background: url(../../images/linear-arrow.png) center center no-repeat; background-size: contain; left: 0; top: 0; }
.servingListContent { margin: 66px 0 0 0; position: relative; transition: all 0.3s; overflow: clip; }
.servingListContent { position: relative; padding: 50px; background-color: #f7941d0f; }
.servingListContent .row { align-items: center; }
.servingListText > div:not(.servingListTextInner) { position: absolute; bottom: 0; }
.servingListText .heading1xl { color: var(--colorPrimary); }
.servingListTextInner ul { margin: 40px 0 0 0; }
.challengesSolveList { display: flex; align-items: flex-start; margin: 0 0 15px 0; gap: 22px; padding: 23px; border: 1px solid #99999933; border-radius: 4px; transition: all 0.3s; }
.challengeIndex { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; background-color: var(--colorWhite); border-radius: 4px; border: 1px solid #0000001A; font-size: 22px; font-weight: 500; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; transition: all 0.3s; }
.challengesSolveList .subFontXlg { width: 60%; transition: all 0.3s; }
.servingListTextInner { padding: 0 0 170px 0; }
.servingListImage { width: 100%; height: 100%; position: relative; border-radius: 6px; overflow: clip; }
.servingListImage img { width: 100%; height: 100%; object-fit: cover; transition: all ease-in-out 0.3s; }
.servingListContent:before { content: ''; position: absolute; width: 2px; height: 100%; left: 34%; top: 0; border-left: 1px solid transparent; border-image: repeating-linear-gradient(to bottom, var(--colorBlack) 0, var(--colorBlack) 10px, transparent 10px, transparent 17px) 1 100%; }
.servingListContent:after { content: ''; position: absolute; width: 100%; height: 100%; z-index: -1; bottom: 0; left: 0; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); transform: translateY(101%); transition: all 0.3s; }
.servingListText.hover { position: absolute; top: 0; height: 100%; padding: 50px 0; opacity: 0; visibility: hidden; }
.servingListContent.active:after { transform: translateY(0); }
.servingListContent.active .challengeIndex, .servingListContent.active .subFontXlg { color: var(--colorWhite); background: transparent; -webkit-background-clip: unset; background-clip: unset; -webkit-text-fill-color: unset; transition: all 0.3s; }
.servingListContent.active .challengesSolveList, .servingListContent.active .challengeIndex { border: 1px solid #ffffff33 }
.servingListContent.active .servingListImage img { transform: scale(1.2); }
.servingListContent.active .servingListText { opacity: 0; visibility: hidden; }
.servingListContent.active .servingListText.hover { opacity: 1 !important; visibility: visible !important; }
.servingListText a { transition: all 0.3s; }