.aboutBanner { position: relative; z-index: 1; overflow-x: clip; height: 100vh; display: flex; align-items: flex-end; padding: 0 0 20vh 0; }
.aboutBannerBgDot { content: ''; position: absolute; width: 100%; height: 1100px; /* background: url(../../images/about-banner-dot-bg.png) center center no-repeat;  */background-size: cover; left: 0; bottom: -400px; z-index: -1; }
.aboutBanner:before { content: ''; position: absolute; width: 980px; height: 530px; border-radius: 50%; background: #3DB65966; filter: blur(150px); top: -40%; left: -23%; transform: rotate(50.36deg); z-index: -1; }
.aboutBanner:after { content: ''; position: absolute; width: 980px; height: 530px; border-radius: 50%; background: #3DB6594D; filter: blur(150px); bottom: -40%; right: -33%; transform: rotate(30.36deg); z-index: -2; }
.aboutBannerBg { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -2; opacity: 0.8; }
.aboutBannerBg img { width: 100%; height: 100%; object-fit: cover; }
.aboutBannerHeading .headingLg { background: linear-gradient(90deg, #3DB659 0%, #DFF0E3 124.23%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 500; margin: 0 0 16px 0; text-transform: uppercase; }
.aboutBannerSubText .subTextMd { margin: 0 0 20px 0; }

/* whoWeAre css */
.whoWeAre { margin: -100px 0 0 0; position: relative; z-index: 1; }
.whoWeAreInner { padding: 44px; border-radius: 18px 18px 0 0; position: relative; background: linear-gradient(180deg, rgba(0, 93, 77, 0.6) 0%, rgba(0, 47, 43, 0) 100%); backdrop-filter: blur(4px); z-index: 1; overflow: clip; }
.whoWeAreInner:before { content: ""; position: absolute; inset: 0; border-radius: 18px 18px 0 0; padding: 1px; background: linear-gradient(180deg, rgba(223, 240, 227, 0.6) 0%, rgba(61, 182, 89, 0) 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; z-index: -1; }
.whoWeAreInner:after { content: ''; position: absolute; width: 60%; height: 80px; background-color: #3DB65961; border-radius: 50%; left: 50%; top: -70px; transform: translateX(-50%); filter: blur(10px); }
.whoWeAreInner .row { justify-content: space-between; }
.wwaImage { width: 100%; height: 280px; border-radius: 10px; overflow: clip; border: 1px solid #5E8768; }
.wwaImage img { width: 100%; height: 100%; object-fit: cover; }
.whoWeAreInner .row { align-items: center; }
.wwaContent .headingLg { background: linear-gradient(90deg, #3DB659 0%, #DFF0E3 14.23%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 600; margin: 0 0 16px 0; display: block; }

/* missionVission css */
.missionVission { position: relative; z-index: 1; }
.missionVission:before { content: ''; position: absolute; width: 100%; height: 1px; background: linear-gradient(90deg, rgba(223, 240, 227, 0) 0%, #3DB659 20%, #3DB659 80%, rgba(223, 240, 227, 0) 100%); top: 0; left: 0; }
.missionVission:after { content: ''; position: absolute; width: 100%; height: 1px; background: linear-gradient(90deg, rgba(223, 240, 227, 0) 0%, #3DB659 20%, #3DB659 80%, rgba(223, 240, 227, 0) 100%); bottom: 0; left: 0; }
.missionVissionInner { background-color: #DFF0E3EB; padding: 42px 0; text-align: center; position: relative; z-index: 1; }
.missionVissionInner:before { content: ''; position: absolute; width: 1px; height: 100%; top: 0; left: 50%; background-color: #319147; }
.mvBox { padding: 0 54px; }
.mvIcon { display: flex; align-items: center; justify-content: center; }
.mvBox h3 { margin: 14px 0; color: var(--colorAccent); font-weight: 800; font-size: var(--fontMd); }
.mvBox span { color: var(--colorPrimary); font-weight: 500; font-size: var(--fontSm); text-transform: uppercase; }

/* twoColumnGrid css */
.twoColumnGrid { padding: 64px 0; position: relative; overflow-x: clip; }
.twoColumnGrid:before { content: ''; position: absolute; width: 690px; height: 920px; background-color: #3DB6594D; border-radius: 50%; filter: blur(150px); left: -30%; top: 0; z-index: -1; }
.twoColumnGrid:after { content: ''; position: absolute; width: 690px; height: 920px; background-color: #3DB6594D; border-radius: 50%; filter: blur(150px); right: -20%; bottom: -190%; transform: rotate(-55deg); z-index: -1; }
.twoColumnGridTop .headingLg { background: linear-gradient(90deg, #3DB659 -140%, #DFF0E3 124.23%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 600; }
.twoColumnGridListing { width: 85%; margin: 0 auto; margin-top: 34px; }
.twoColumnGridList { display: flex; background: linear-gradient(180deg, rgba(0, 93, 77, 0.67) 0%, rgba(0, 47, 43, 0.67) 100%); padding: 34px; border-radius: 8px; position: relative; gap: 24px; backdrop-filter: blur(7.599999904632568px); box-shadow: 0px 4px 34px 0px #00000033; transition: all 0.3s; }
.twoColumnGridList:hover { background-color: #267338; }
.gridContent { width: calc(100% - 82px); }
.gridIcon { width: 42px; height: 42px; display: flex; align-items: center; justify-content: center; background-color: #DFF0E33D; border-radius: 50%; transition: all 0.3s; }
.gridIcon img { transition: all 0.3s; }
.twoColumnGridList:hover .gridIcon { background-color: var(--colorBg); }
.twoColumnGridList:hover .gridIcon img { filter: brightness(0) saturate(100%) invert(48%) sepia(55%) saturate(511%) hue-rotate(81deg) brightness(92%) contrast(91%); }
.gridContent span { display: block; margin: 10px 0 0 0; }
.gridContent .headingMd { margin: 0; text-transform: uppercase; background: linear-gradient(90deg, #3DB659 0%, #DFF0E3 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 600; }
.twoColumnGridList:before { content: ""; position: absolute; inset: 0; border-radius: 9px; padding: 1px; background: linear-gradient(180deg, rgba(223, 240, 227, 0.6) 0%, rgba(198, 231, 206, 0.384) 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; z-index: -1; }

/* valueWrapper css */
.valueWrapper { padding: 0 0 64px 0; position: relative; overflow-x: clip; }
.valueWrapper:before { content: ''; position: absolute; height: 680px; width: 300px; background: url(../../images/right-angle-vector.svg) center center no-repeat; background-size: contain; top: -370px; left: -130px; z-index: -2; opacity: 0.3; }
.valueWrapper:after { content: ''; position: absolute; height: 860px; width: 400px; background: url(../../images/left-angle-vector.svg) center center no-repeat; background-size: contain; bottom: -330px; right: -130px; z-index: -2; opacity: 0.3; }
.valueListing { display: flex; margin: 34px 0 0 0; background-color: #005D4D70; position: relative; }
.valueWrapperTop .headingLg { background: linear-gradient(90deg, #3DB659 -140%, #DFF0E3 124.23%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 600; }
.valueWrapper1 { position: relative; }
.valueWrapper1:before { content: ''; position: absolute; width: 100vw; height: 1px; background: linear-gradient(90deg, rgba(223, 240, 227, 0) 0%, #3DB659 20%, #3DB659 80%, rgba(223, 240, 227, 0) 100%); top: 0; left: 0; }
.valueWrapper1:after { content: ''; position: absolute; width: 100vw; height: 1px; background: linear-gradient(90deg, rgba(223, 240, 227, 0) 0%, #3DB659 20%, #3DB659 80%, rgba(223, 240, 227, 0) 100%); bottom: 0; left: 0; }
.valueList { width: 20%; padding: 44px 24px; text-align: center; border-right: 1px solid #3DB65999; }
.valueList:first-child { border-left: 1px solid #3DB65999; ; }
.vlContent { padding: 24px 0 0 0; }
.vlIcon { margin: 0 auto; width: 52px; height: 52px; }
.vlIcon img { width: 100%; height: 100%; object-fit: contain; }
.vlContent h4 { color: #5CD678; text-transform: uppercase; font-size: var(--fontBase); letter-spacing: 0.6px; }
.vlContent span { color: var(--colorText); font-size: var(--fontBase); letter-spacing: 0.2px; }

/* team css */
.team { padding: 0 0 140px 0; position: relative; z-index: 1; }
.teamBg { position: absolute; width: 100%; height: max-content; }
.teamBg img { width: 100%; height: 100%; object-fit: cover; }
.teamTop .headingLg { background: linear-gradient(90deg, #3DB659 -140%, #DFF0E3 124.23%); -webkit-background-clip: text; -webkit-text-fill-color: transparent !important; font-weight: 600; }
.teamList { background-color: var(--colorBg); padding: 20px; border-radius: 8px; text-align: center; position: relative; z-index: 1; height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 0px 4px 34px 0px #00000033; }
.teamList:before { content: ''; position: absolute; width: 130px; height: 100%; background: url(../../images/team-light-logo.png) center center no-repeat; background-repeat: no-repeat; top: 0; left: 0; z-index: -1; }
.teamWrapper { width: 80%; margin: 0 auto; margin-top: 44px; }
.teamListing .row { justify-content: center; }
.teamList h4 { margin: 0 0 5px 0; text-transform: uppercase; font-size: 16px; font-weight: 700; color: var(--colorAccent); }
.teamList span { color: var(--colorAccent); font-weight: 600; text-transform: uppercase; font-size: 14px; line-height: 1.3; display: block; }
.teamList p { margin: 0; font-size: 10px; color: var(--colorAccent); text-transform: uppercase; font-weight: 500; }

/* ctaWrapper css */

/* .ctaWrapper::before { content: ''; position: absolute; width: 100%; height: 100%; background: url(../../images/about-btm-cta-bg.png) center center no-repeat; background-size: cover; top: 0; left: 0; } */

.ctaWrapper::after { content: ''; position: absolute; width: 450px; height: 980px; background: url(../../images/right-angle-vector.svg)center center no-repeat; background-size: contain; bottom: -100%; left: -10%; opacity: 0.3; z-index: -1; }