/* Font Declaration */
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-Light.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-Regular.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-Thin.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-Thin.woff') format('woff'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-Bold.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-Medium.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'New Science'; src: url('../webfonts/NewScience/NewScience-SemiBold.woff2') format('woff2'), url('../webfonts/NewScience/NewScience-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }

/* RESET CSS */
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html:focus-within { scroll-behavior: smooth; }
body { min-height: 100vh; text-rendering: optimizeSpeed; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: var(--fontPrimary); font-size: var(--fontBase); background-color: var(--colorPrimary); }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; margin: 0; padding: 0; }
button { background: none; border: none; cursor: pointer; }
table { border-collapse: collapse; width: 100%; }
:root { --fontPrimary: 'New Science'; --colorPrimary: #002F2B; --colorSecondary: #3DB659; --colorAccent: #005D4D; --colorBg: #DFF0E3; --colorText: #DFF0E3; --colorWhite: #ffffff; --colorBlack: #000000; --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 18px; --fontLg: 20px; --fontXl: 22px; --font2xl: 28px; --font3xl: 32px; --font4xl: 38px; --font5xl: 56px; }
.accentOutlineBtn { background-color: #005D4DB2; padding: 15px 30px; color: var(--colorText); text-transform: uppercase; border-radius: 5px; font-weight: 500; letter-spacing: 6%; box-shadow: 0px 4px 8px 0px #0000001F; position: relative; transition: all 0.3s; }
.accentOutlineBtn:hover { background-color: var(--colorSecondary); }
.accentOutlineBtn:hover:before { opacity: 0; visibility: hidden; }
.accentOutlineBtn:before { content: ""; position: absolute; inset: 0; border-radius: 7px; padding: 1px; background: linear-gradient(270deg, #3DB659 0%, #DFF0E3 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; transition: all 0.3s; }
.lightCtaBtn { background-color: var(--colorBg); padding: 15px 30px; line-height: 1; color: var(--colorPrimary); text-transform: uppercase; border-radius: 5px; font-weight: 500; letter-spacing: 6%; box-shadow: 0px 4px 8px 0px #0000001F; position: relative; transition: all 0.3s; display: flex; width: max-content; align-items: center; gap: 5px; }
.lightCtaBtn i { font-size: 20px; }
.lightCtaBtn:hover { background-color: var(--colorSecondary); color: var(--colorWhite); }
.accentBtn { background-color: var(--colorAccent); padding: 15px 30px; line-height: 1; color: var(--colorText); text-transform: uppercase; border-radius: 5px; font-weight: 500; transition: all 0.3s; display: flex; width: max-content; align-items: center; gap: 10px; letter-spacing: 6%; transition: all 0.3s; box-shadow: 0px 4px 8px 0px #0000001F; border: 1px solid var(--colorAccent); }
a.accentBtn i { font-size: 20px; }
.accentBtn:hover { background-color: var(--colorSecondary); color: var(--colorText); border: 1px solid var(--colorSecondary); }
.heading5xl { text-transform: uppercase; font-size: var(--font5xl); color: rgba(215, 239, 221, 1); font-weight: 600; }
.heading4xl { text-transform: uppercase; font-size: var(--font4xl); color: rgba(215, 239, 221, 1); font-weight: 600; }
.heading3xl { text-transform: uppercase; font-size: var(--font3xl); color: rgba(215, 239, 221, 1); font-weight: 600; }
.heading2xl { font-size: var(--font2xl); color: var(--colorAccent); font-weight: 600; }
.headingXl { font-size: var(--fontXl); color: var(--colorAccent); font-weight: 600; }
.headingLg { color: var(--colorText); font-size: var(--fontLg); font-weight: 400; letter-spacing: 0.2px; display: inline-block; }
.headingMd { color: var(--colorText); font-size: var(--fontMd); font-weight: 400; display: inline-block; }
.subTextMd { color: var(--colorText); font-size: var(--fontMd); font-weight: 400; letter-spacing: 0.2px; display: block; }
.subTextBase { color: var(--colorText); font-size: var(--fontBase); font-weight: 400; letter-spacing: 0.2px; display: block; }
.pageWrap { display: flex; justify-content: space-between; min-height: 100vh; flex-direction: column; overflow: clip; }
.scrollOff { overflow: hidden; }

/* background: linear-gradient(0deg, var(--Light-Grey, #DFF0E3), var(--Light-Grey, #DFF0E3)),
linear-gradient(90deg, rgba(61, 182, 89, 0.35) 0%, rgba(223, 240, 227, 0.35) 100%); */

/* === HEADER CSS START === */
header { position: fixed; top: 34px; width: 100%; z-index: 10; }
.headerWrap { display: flex; align-items: center; justify-content: space-between; padding: 20px 28px; border-radius: 18px; background: #002F2BC7; border: 1px solid #DFF0E33D; backdrop-filter: blur(10px); box-shadow: 0px 4px 27.5px 0px #00000021; }
.toggleBtn { display: none; }
.logo { width: 213px; height: 46px; }
.headerOption { display: flex; align-items: center; }
.logo img { width: 100%; height: 100%; object-fit: contain; }
.current-menu-item a { color: var(--colorSecondary) !important; }
@media (min-width:1025px) {
	nav ul { list-style: none; padding: 0; margin: 0; transition: all 0.3s; }
	nav>ul { display: flex; padding: 0 34px 0 20px; }
	nav li { position: relative; }
	nav li a { color: var(--colorWhite); position: relative; display: inline-block; padding: 14px 10px; text-decoration: none; transition: all 0.3s; position: relative; font-size: 14px; text-transform: uppercase; letter-spacing: 6%; font-weight: 500; }
	nav ul ul { position: absolute; background-color: var(--colorWhite); box-shadow: 0 7px 10px #00000061; border-radius: 5px; overflow: hidden; transform: translateY(20px); opacity: 0; visibility: hidden; transition: all 0.3s; pointer-events: none; }
	nav>ul>li:hover ul { opacity: 1; visibility: visible; transform: translateY(0); pointer-events: auto; }
	li.hasUl a { padding-right: 25px !important; }
	li.hasUl a:before { content: '\ea13'; font-family: "remixicon"; font-style: normal; position: absolute; top: 10px; right: 7px; font-size: 14px; }
}
@media (max-width:1024px) {
	.headerOption { position: fixed; top: 0; right: 0; width: 400px; height: calc(100dvh - 24px); background-color: #E9EDF2 !important; transform: translateX(110%); transition: all 0.3s; list-style: none; margin: 0; flex-direction: column; text-align: center; justify-content: center; border-radius: 18px; }
	.headerOption.openMenu { transform: translateX(0); }
	nav ul li a { display: inline-block; width: auto; margin: 20px 40px; font-size: 22px; color: var(--colorBlack); text-decoration: none; }
	.toggleBtn { display: flex; width: 40px; height: 40px; background-color: #005D4DB2; align-items: flex-end; justify-content: center; gap: 7px; flex-direction: column; position: relative; z-index: 10; border-radius: 5px; box-shadow: 0px 4px 8px 0px #0000001F; padding: 10px 8px; }
	.toggleBtn:before { content: ""; position: absolute; inset: 0; border-radius: 5px; padding: 1px; background: linear-gradient(0deg, rgba(223, 240, 227, 0.6), rgba(223, 240, 227, 0.6)); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; z-index: -1; }
	.toggleBtn span { width: 20px; height: 2px; background-color: var(--colorText); display: block; border-radius: 80px; transition: all 0.3s; }
	.toggleBtn span:first-child { width: 14px; }
	.toggleBtn span:last-child { width: 10px; }
	.toggleBtn.closeBtn span:first-child { transform: rotate(45deg) translate(5px, 6px); width: 20px; }
	.toggleBtn.closeBtn span:last-child { transform: rotate(-45deg) translate(6px, -8px); width: 20px; }
	.toggleBtn.closeBtn span:nth-child(2) { opacity: 0; visibility: hidden; }
	
    /* .toggleBtn span:nth-child(2) { display: none; } */ }

/* === HEADER CSS END === */

/* ctaWrapper css */
.ctaWrapper { position: relative; z-index: 1; padding: 0 0 84px 0; }
.ctaWrapper::before { content: ''; position: absolute; width: 100%; height: 100%; background: url(../images/cta-bg-wrapper.webp) center center no-repeat; background-size: cover; top: 0; left: 0; }
.ctaWrapperInner { background: linear-gradient(180deg, rgba(0, 93, 77, 0.67) 0%, rgba(0, 47, 43, 0.67) 100%); backdrop-filter: blur(10px); box-shadow: 0px 4px 34px 0px #00000033; padding: 54px 44px; text-align: center; border-radius: 18px; width: 80%; margin: 0 auto; position: relative; z-index: 1; }
.ctaWrapperInner:before { content: ''; position: absolute; border-radius: 18px; padding: 1px; background: linear-gradient(180deg, rgba(223, 240, 227, 0.6) 0%, rgba(61, 182, 89, 0) 68.27%, rgba(198, 231, 206, 0.507042) 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; }
.ctaWrapperInner .heading3xl { margin: 24px 0; }
.ctaWrapperInner .subTextBase { margin: 0 0 24px 0; }
.topLogo { width: 50px; margin: 0 auto; }
.btmCta { display: flex; justify-content: center; }

/* form design */
.formTop .headingXl { color: var(--colorSecondary); font-weight: 500 }
.formDesign .headingLg { color: var(--colorAccent); text-transform: uppercase; color: var(--colorAccent); font-weight: 700; display: block; }
.inputField label { display: block; text-transform: uppercase; color: var(--colorAccent); font-size: var(--fontSm); font-weight: 600; }
.inputField label span { color: rgba(213, 110, 0, 1); }
.inputField input, .inputField textarea { width: 100%; background-color: #002F2B1A; border: none; padding: 10px 14px; border-radius: 5px; margin: 8px 0 0 0; outline: none; border: 1px solid #959EA233; color: var(--colorText2); }
.inputField input:focus, .inputField textarea:focus { border: 1px solid var(--colorSecondary); }
.inputField textarea { height: 100px; }
.inputField { margin: 24px 0 0 0; }
.formWrap .secondaryBtn { margin: 24px 0 0 0; }
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output { border-color: #fba81b; background-color: #fba81b; padding: 8px 12px; line-height: 1; border-radius: 5px; }
.cf7sr-g-recaptcha { margin: 20px 0 20px 0; }
.wpcf7-not-valid-tip { position: absolute; font-size: 12px; width: 100%; white-space: nowrap; }
.formDesign { background-color: #DFF0E3; padding: 30px; border-radius: 8px; }
.formOuter > .headingLg { margin: 0 0 30px 0; }

/*  */

/* footer css */
footer { padding: 34px 0 24px 0; background-color: #002f2b; position: relative; z-index: 1; overflow: clip; }
footer:before { content: ''; position: absolute; width: 100%; height: 2px; background: linear-gradient(90deg, rgba(223, 240, 227, 0) 0%, #3DB659 0.01%, rgba(223, 240, 227, 0) 100%); top: 0; left: 0; }
footer:after { content: ''; position: absolute; width: 290px; height: 70px; background: #3DB65961; border-radius: 50%; top: -50px; filter: blur(15px); left: 20px; }
.footerInner { display: flex; align-items: center; justify-content: space-between; }
.footerLogo { width: 200px; }
.footerUl ul { display: flex; align-items: center; gap: 24px; }
.footerUl ul li a { color: var(--colorWhite); text-transform: uppercase; font-size: var(--fontSm); transition: all 0.3s; }
.footerUl ul li a:hover { color: var(--colorSecondary); }
.footerSocialUl ul { display: flex; align-items: center; gap: 24px; }
.footerSocialUl ul li a { color: var(--colorWhite); font-size: var(--fontMd); transition: all 0.3s; }
.footerSocialUl ul li a:hover { color: var(--colorSecondary); }
.copyRight span { color: var(--colorSecondary); display: flex; justify-content: center; padding: 16px 0 0 0; }

/* =============== back to top button css ================== */
.backTop { position: fixed; bottom: 30px; right: 30px; opacity: 0; visibility: hidden; transition: all 0.8s; z-index: 10; }
.backTop.activeBackToTop { opacity: 1; visibility: visible; }
.backTop a svg { display: block; }
.backTop a { text-align: center; border: 2px solid var(--colorPrimary); width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; flex-direction: column; text-decoration: none; font-size: 12px; font-weight: 600; text-transform: uppercase; border-radius: 5px; position: relative; animation: topBtnBounce 2s ease-in-out infinite; color: var(--colorPrimary); background-color: #fff; }
.backTop:before { content: ''; position: absolute; width: 100%; height: 15px; bottom: -20px; border-radius: 50%; background-image: radial-gradient(#00000060 -50%, transparent 100%); filter: blur(3px); animation: boxshadowAnimate 2s linear infinite; }
@keyframes topBtnBounce {
	0% { transform: translateY(0); }
	50% { transform: translateY(-15px); }
	100% { transform: translateY(0) }
}
@keyframes boxshadowAnimate {
	0%, 100% { opacity: 1; scale: 1; }
	25% { opacity: 0.6; transform: scale(0.6); }
	50% { opacity: 0.2; transform: scale(0.2); }
	75% { opacity: 0.6; transform: scale(0.6); }
}

/*  */
#powerTip { background-color: var(--colorBg); padding: 14px 20px; font-size: 14px; margin: 0; }
#powerTip p { margin: 0; text-transform: uppercase; color: var(--colorAccent); font-weight: 700; }
#powerTip p strong { color: var(--colorSecondary); }
#powerTip:before { display: none; }
.drag_element img:hover { cursor: pointer; }

/* PAndC CSS */
.resourceListingRow { transition: opacity 0.3s ease; }
.resourceListingRow.resourceProcessing { opacity: 0.4; pointer-events: none; }
.resourceLoader { text-align: center; padding: 20px; font-size: 18px; }
.pageContent { position: relative; z-index: 3; overflow: clip; margin: -40vh 0 0 0; }
.pageContent:before { content: ''; position: absolute; width: 450px; height: 950px; background: url(https://midnightm51.sg-host.com/wp-content/themes/d-theme/assets/images/right-angle-vector.svg) center center no-repeat; background-size: contain; top: 630px; left: -210px; z-index: -1; opacity: 0.3; }
.privacy-policy .aboutBanner, .terms-and-conditions .aboutBanner { position: relative; z-index: 2; height: 100vh; display: flex; align-items: flex-end; padding: 0 0 50vh 0; }
.pageContentInner { background: linear-gradient(180deg, rgba(0, 93, 77, 0.6) 0%, rgba(0, 47, 43, 0) 100%); color: var(--Light-Grey, rgba(223, 240, 227, 1)); padding: 34px; border-radius: 18px; backdrop-filter: blur(4px); }
.pageContentInner:before { content: ""; position: absolute; inset: 0; border-radius: 18px 18px 0 0; padding: 1px; background: linear-gradient(180deg, rgba(223, 240, 227, 0.6) 0%, rgba(61, 182, 89, 0) 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; z-index: -1; }
.terms-and-conditions .pageContentInner p strong, .privacy-policy .pageContentInner p strong { font-family: var(--fontPrimary); font-size: 20px; font-weight: 600; margin: 0 0 16px 0; text-transform: uppercase; color: #ABDDB7; }
.privacy-policy .aboutBannerBgDot, .terms-and-conditions .aboutBannerBgDot { content: ''; position: absolute; width: 100%; height: 1100px; background: url(../images/about-banner-dot-bg.webp) center center no-repeat !important; background-size: cover !important; left: 0; bottom: -400px; z-index: -1; }
.terms-and-conditions .pageContentInner p, .privacy-policy .pageContentInner p { font-family: var(--fontSecondary); font-size: 18px; font-weight: 300; color: var(--colorText); margin: 0 0 32px 0; }
.terms-and-conditions .aboutBannerSubText div, .privacy-policy .aboutBannerSubText div { display: flex; justify-content: flex-end; }
.privacy-policy .ctaWrapper:after, .terms-and-conditions .ctaWrapper:after { content: ''; position: absolute; width: 100%; height: 1150px; background: url(../images/about-btm-cta-bg.webp) center center no-repeat; background-size: cover; top: -220%; left: 0; }
.resourceListingRow p { padding: 50px 0 500px 0; text-align: center; color: var(--colorText); }
.resourceLoadMoreWrap .resourceLoader { color: var(--colorText); }

/* detail page css  modification*/
.recentPost { top: 120px; border-radius: 18px 18px 0 0; position: relative; background: linear-gradient(180deg, rgba(0, 93, 77, 0.6) 0%, rgba(0, 47, 43, 0) 100%); backdrop-filter: blur(4px); z-index: 1; overflow: clip; padding: 30px 24px; position: sticky; top: 150px; border: none; box-sizing: unset; }
.recentPost:before { content: ''; position: absolute; inset: 0; border-radius: 18px 18px 0 0; padding: 1px; background: linear-gradient(180deg, rgba(223, 240, 227, 0.6) 0%, rgba(61, 182, 89, 0) 100%); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; z-index: -1; }

/* image hotstop hover css */
.pins_image { transition: filter 0.3s ease, transform 0.3s ease; }
.pins_image:hover { filter: drop-shadow(0 0 26.4px rgba(255, 255, 255, 1)); transform: scale(1.15); cursor: pointer; }