.catalyst .headerLogo, .catalyst .blackHeaderLogo { display: none; }
.catalystBanner { background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); height: 100vh; display: flex; align-items: center; position: relative; z-index: 1; }
.catalystBanner .row { align-items: center; }
.catalystBanner .subFontMd { margin: 15px 0 40px 0; width: 85%; font-weight: 300; }
.catalystBannerObject { position: absolute; right: 0; top: 50px; height: 480px; }
.catalystBannerObject img { height: 100%; object-fit: contain; }
.halfTextVideo { position: relative; padding: 180px 0 120px 0; z-index: 1; overflow-x: clip; }
.halfTextVideoInner .row { align-items: center; }
.halfTextVideoWrap { width: 100%; margin: 0 auto; padding: 12px; border: 1px solid #DB41527A; border-radius: 18px; height: 490px; }
.halfTextVideoWrap video { box-shadow: 0px 3px 15.9px -3px #DB41529E; border-radius: 14px; width: 100%; height: 100%; object-fit: cover; }
.halfTextVideoObject { position: absolute; left: auto; right: -150px; top: 55px; }
.halfTextVideoObject img { transform: translateX(310%); transition: ease-in-out 0.8s; }
.halfTextVideoObject .linearArrow { position: absolute; top: -50%; left: 1px; transition-delay: 0.3s; transform: translateX(310%) rotate(180deg); }
.in-viewport .halfTextVideoObject img { transform: translateX(0); }
.in-viewport .halfTextVideoObject  .linearArrow { transform: translateX(0) rotate(180deg); }
.halfTextVideoDesc span { margin: 40px 0 0 0; display: block; }
.coreFeatures { padding: 100px 0; background-color: #0A0A0A08; }
.featuresListing { display: flex; margin: 70px 0 0 0; }
.featuresList { width: 25%; background: linear-gradient(208.89deg, #F79021 -14.29%, #DA1A5D 124.59%); padding: 24px; padding-top: 70px; display: flex; flex-direction: column; gap: 200px; position: relative; z-index: 1; overflow: clip; }
.featuresList .subFontXlg { transition: all 0.3s; transition-delay: 0.1s; }
.featuresList::before { content: ''; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px); background-color: var(--colorWhite, #fff); top: 1px; left: 1px; z-index: -1; }

/* .featuresList:hover .subFontXlg { color: var(--colorWhite); }
.featuresList:hover::before { animation: slideDown 0.5s forwards; }
.featuresList:not(:hover)::before { animation: slideFromTop 0.5s forwards; } */
.featuresList.active .subFontXlg { color: var(--colorWhite); }
.featuresList.active::before { animation: slideDown 0.5s forwards; }
@keyframes slideDown {
	from { transform: translateY(0); }
	to { transform: translateY(100%); }
}
@keyframes slideFromTop {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}
.yourLanguage { margin: 120px 0; }
.yourLanguageTop { text-align: center; margin: 0 auto; margin-bottom: 80px; width: 35%; }
.yourLanguageTop .heading3xl { color: var(--colorBlack); }
.languageList { background-color: var(--colorBg); padding: 75px; margin-bottom: 40px; }
.languageList:nth-child(even) .row { flex-direction: row-reverse; }
.languageList .row { align-items: center; }
.languageList .subFontLg { color: var(--colorBlack); margin: 32px 0 0 0; }
.languageBtn { text-align: center; margin: 0 auto; display: flex; justify-content: center; position: relative; z-index: 1; }
.languageBtn:before { content: ''; position: absolute; width: 0; height: 2px; background-color: var(--colorAccent); top: 50%; left: 50%; transform: translateX(-50%); z-index: -1; transform-origin: center center; transition: ease-in-out 0.8s; }
.in-viewport.languageBtn:before { width: 100%; }
.ogmp .solveChanllenge { margin: 120px 0; }
.solveChanllengeTop { width: 70%; margin: 0 auto; text-align: center; }
.solveChanllengeTop .heading3xl { color: var(--colorBlack); }
.solveChanllengeImage img { width: 100%; height: 100%; object-fit: cover; }
.onePlatform { padding: 120px 0; background-color: var(--colorBg); margin: 0 0 150px 0; }
.onePlatformList { padding: 45px 30px; background-color: var(--colorWhite); }
.onePlatformListContent span { margin: 20px 0; display: block; }
.onePlatformListing { width: 95%; margin: 0 auto; margin-top: 50px; position: relative; }
.onePlatformListing:before { content: ''; position: absolute; width: 35px; height: 35px; background: url(../../images/plus-icon.png)center center no-repeat; background-size: contain; top: calc(50% - 50px); left: 50%; transform: translate(-50%, 50%); }
.onePlatformListing .row { justify-content: space-between; }
.onePlatformListContent ul li { position: relative; padding: 8px 0 8px 30px; font-size: var(--fontMd); font-weight: 600; }
.onePlatformListContent ul li:before { content: ''; position: absolute; background: url(../../images/tick-icon.svg)center center no-repeat; background-size: contain; width: 16px; height: 16px; top: 16px; left: 0; }
.onePlatformListContent a { display: flex; align-items: center; gap: 10px; text-transform: uppercase; margin: 20px 0 0; color: var(--colorAccent); text-decoration: underline; opacity: 0; visibility: hidden; transition: all 0.3s; }
.onePlatformList:hover .onePlatformListContent a { opacity: 1; visibility: visible; }
.onePlatformBtn { text-align: center; margin: 0 auto; display: flex; justify-content: center; position: relative; z-index: 1; margin-top: 70px; }
.onePlatformBtn:before { content: ''; position: absolute; width: 0; height: 2px; background-color: var(--colorAccent); top: 50%; left: 50%; transform: translateX(-50%); z-index: -1; transform-origin: center center; transition: ease-in-out 0.8s; }
.in-viewport.onePlatformBtn:before { width: 100%; }