@media (max-width:1366px) {
	:root { --font4xl: 46px; }
	.languageListDesc { width: 90%; }
	.organizationsBgShap { left: -55%; }
	.bornFromHeading { width: 90%; }
	.missionVissionInner .subFontXlg { padding: 100px 280px 100px 140px; }
	.missionVissionInner .subFontXlg:after { right: 90.1%; }
	.missionVissionTextWrap:last-child .subFontXlg { padding: 100px 430px 100px 180px; }
	.missionVissionTextWrap:last-child .subFontXlg:after { left: 83.2%; }
	.solveChanllengeTop { width: 80%; }
	.fullTextVideoObject2 { height: 550px; }
	.industriesBannerObject2 { left: -40px; bottom: 0; width: 600px; }
	.gobalSolutionHeading { width: 74%; }
}
@media (max-width:1280px) {
	:root { --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 16px; --fontLg: 18px; --fontXlg: 20px; --fontxl: 24px; --font1xl: 28px; --font2xl: 36px; --font3xl: 40px; --font4xl: 44px; }
	.organizationsBgShap { top: 55%; left: -35%; width: 600px; }
	.cityList { width: 210px; }
	.cityList:first-child { top: 0; left: 210px; }
	.cityList:nth-child(2) { top: -180px; left: 580px; width: 150px; }
	.cityList:nth-child(3) { top: -200px; left: 770px; width: 120px; }
	.cityList:nth-child(4) { top: -240px; left: 920px; width: 180px; }
	.cityList:last-child { top: -250px; left: 360px; width: 140px; }
	.ourProgressObject { position: absolute; width: 460px; right: -15%; top: -62px; }
	.missionVissionInner .subFontXlg:after { right: 89.7%; }
	.missionVissionTextWrap:last-child .subFontXlg:after { left: 84.8%; }
}
@media (max-width:1024px) {
	:root { --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 16px; --fontLg: 18px; --fontXlg: 20px; --fontxl: 22px; --font1xl: 24px; --font2xl: 28px; --font3xl: 32px; --font4xl: 36px; }
	.sustainability { margin: 0; }
	.sustainabilityObject2 { right: -180px; bottom: -80px; z-index: 1; }
	.sustainabilityBoxContent { padding: 0 25px; }
	.sustainabilityBoxImage img { width: 80%; }
	.videoOnly { height: 80vh; }
	.organizations { padding: 100px 0; }
	.organizationsBgShap { top: 60%; left: -30%; width: 500px; }
	.cityName { font-size: 22px; }
	.cityList:first-child { top: 0; left: 160px; }
	.cityList:nth-child(2) { left: 520px; }
	.cityList:nth-child(3) { top: -220px; left: 700px; }
	.cityList:nth-child(4) { top: -250px; left: 800px; width: 160px; }
	.cityList:last-child { top: -270px; left: 260px; width: 140px; }
	.home .ourProgress { margin-top: -100px; }
	.ourProgressObject { width: 360px; top: -38px; }
	.banner { min-height: 80vh; }
	.logo { width: 170px; }
	.aboutBanner { padding: 180px 0 0 0; }
	.iconWrap { left: 120%; }
	.missionVissionInner .subFontXlg { min-height: 480px; }
	.missionVissionInner .subFontXlg:after { height: 240px; }
	.missionVissionTextWrap:last-child .subFontXlg:after { left: 80.5%; }
	.missionVissionInner .subFontXlg:after { right: 85.8%; }
	.aboutBannerObject { height: 250px; }
	.aboutBannerObject img:first-child { height: 100%; }
	.aboutBannerLinear { right: 15px; }
	.costomizeVideo { width: 55vw; height: 450px; }
	.ulHeading h4 { font-size: var(--fontxl); }
}
@media (max-width:768px) {
	.cityName { font-size: 18px; }
	.cityList { width: 170px; }
	.cityList:nth-child(2) { left: 400px; width: 120px; }
	.cityList:first-child { left: 130px; }
	.cityList:nth-child(3) { top: -220px; left: 640px; width: 100px; }
	.cityList:nth-child(4) { top: -100px; left: 610px; width: 130px; }
	.cityList:last-child { top: -230px; left: 80px; width: 130px; }
	.sustainabilityBox { margin: 0 0 40px 0; padding-bottom: 180px; }
	.sustainabilityBox .sustainabilityBoxContent { transform: translateY(0); opacity: 1; visibility: visible; }
	.sustainabilityBoxImage { height: 460px; }
	.organizationsBgShap { display: none; }
	.organizations .swiper { max-width: 100%; }
	.globaleReachTop { top: 33%; }
	.sustainabilityObject { left: -250px; }
	.sustainabilityObject2 { right: -230px; }
	.sustainabilityTopInner { width: 60%; }
	.videoOnly { height: 50vh; }
	.videoOnlyObject { height: 80%; }
	.videoOnlyObject img:first-child { object-fit: contain; height: 100%; }
	.organizationsTop .accentBtn:before { width: 70%; }
	.deskImage { display: none; }
	.mobileImage { display: block; }
	.banner { min-height: 100vh; }
	.readyToSeeInner { padding: 50px 30px; padding-bottom: 510px; }
	.readyToSeeInnerObject { position: absolute; bottom: 175px; left: 0; width: 100px; top: auto; }
	.readyToSeeInner.in-viewport img.greenArrow { transform: rotate(180deg) translateX(-25px) !important; }
	.footerLogo { width: 140px; }
	.bookAdemo { height: auto; }
	.bookADemoContent { width: 90%; padding: 150px 0 100px 0; }
	.bookAdemo:before { height: 57vw; width: 100%; top: 0; }
	#wpcf7-f31-p120-o1 { padding: 0 0 30px 0; }
	.formLeftObject { display: none; }
	.in-viewport .formWrapper:after { display: none; }
	.contact { padding: 150px 0 0 0; }
	.contactWrapLeft { padding: 30px 0; }
	.formWrapper:before { width: 100vw; left: -10px; border-radius: 0; }
	.formWrapper { padding: 50px !important; }
	.map { margin: 0 0 100px 0; }
	.missionVissionContent .subFontXlg { font-size: var(--fontBase); }
	.missionVissionInner .subFontXlg { min-height: 400px; }
	.missionVissionInner .subFontXlg { padding: 100px 200px 100px 100px; }
	.missionVissionInner .subFontXlg:after { height: 200px; }
	.missionVissionInner .subFontXlg:after { right: 76.3%; }
	.missionVissionTextWrap:last-child .subFontXlg { padding: 100px 270px 100px 100px; }
	.missionVissionTextWrap:last-child .subFontXlg:after { left: 75.6%; }
	.timeLineWrapper ul { width: 95%; }
	.iconWrap { width: 140px; }
	.iconWrap { left: 110%; top: 50%; transform: translateY(-50%); }
	.in-view .iconWrap { transform: scale(1) translateY(-50%); }
	.catalystBanner { height: auto; padding: 150px 0; }
	.catalysBannerImage { width: 80%; margin: 0 auto; margin-bottom: 30px; }
	.catalystBanner .row { flex-direction: column-reverse; }
	.fullTextVideoTop { width: 65%; }
	.fullTextVideoInner::before { display: none; }
	.shape1 { width: 300px; }
	.fullTextVideoObject .linearArrow { width: 60px; }
	.fullTextVideoWrap { width: 80%; height: 400px; }
	.featuresListing { flex-wrap: wrap; margin: 40px 0 0 0; }
	.featuresList { width: 50% }
	.catalysContentBox { width: 80%; margin: 0 auto; }
	.languageList .row, .costomizeInner .row { flex-direction: column-reverse !important; }
	.languageList .subFontLg { margin: 22px 0 0 0; }
	.costomizeUl { margin: 530px 0 0 0; }
	.costomizeVideo { width: 100vw; height: 450px; top: 15%; }
	.onePlatformListing:before { top: 50%; left: 50%; transform: translate(-50%, -50%); }
	.onePlatformListing .row { gap: 130px; }
	.halfTextVideoInner .row { flex-direction: column-reverse; }
	.halfTextVideoWrap { margin: 30px 0 0 0; }
	.multiStepForm { padding: 0; }
	.thankYouInner { width: 70%; }
}
@media (max-width:480px) {
	:root { --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 16px; --fontLg: 18px; --fontXlg: 20px; --fontxl: 22px; --font1xl: 24px; --font2xl: 28px; --font3xl: 30px; --font4xl: 32px; }
	.bannerHeadWrap .heading3xl { margin: 20px 0; }
	.sustainabilityTopInner { width: 100%; }
	.sustainabilityBoxImage { height: 320px; }
	.sustainabilityBox { margin: 0 0 60px 0; padding-bottom: 200px; }
	.videoOnlyObject { height: 50%; }
	.videoOnlyLinear { width: 50%; left: 40px; }
	.globaleReach { padding: 100px 0 0 0; }
	.cityList { width: 110px; }
	.cityList:first-child { left: 20px; top: -20px; }
	.cityList:nth-child(2) { left: 170px; width: 80px; top: -130px; }
	.cityList:nth-child(3) { top: -190px; left: 290px; width: 90px; }
	.cityList:nth-child(4) { top: -120px; left: 250px; width: 110px; }
	.cityList:last-child { top: -230px; left: 10px; width: 100px; }
	.globaleReachTop .heading2xl { font-size: var(--fontXlg); }
	.globaleReachTop img { width: 30px; }
	.globaleReachTop { top: 25%; }
	.cityName span { line-height: 1; display: block; }
	.shape1 { width: 220px; }
	.sustainabilityObject { left: -100px; top: -70px; }
	.sustainabilityObject img { transform: translateX(-100%); }
	.sustainabilityObject .linearArrow { width: 43px }
	.sustainabilityObject2 { right: -110px; }
	.organizations { padding: 100px 0 200px 0; }
	.organizationsTop .organizationsBtn { position: absolute; bottom: 110px; }
	.organizationsTop .accentBtn:before { left: 100%; right: auto; }
	.ourProgressTop { width: 80%; margin: 0 auto; }
	.ourProgressObject { width: 250px; top: -78px; right: -40%; }
	.ourProgress .swiper { margin: 25px 0 0 0; }
	.progressSlideDesc { width: 70%; }
	.progressSlideDesc .headingxl { font-size: var(--fontLg); }
	.readyToSeeBg img { object-position: -120px 0px; }
	.footerInner { position: relative; }
	.footerUl { position: absolute; bottom: 20px; left: 0; width: 70%; }
	.footerUl ul { display: block; column-count: 2; }
	.footerUl ul li a { font-size: 12px; }
	.footerBottom { padding: 40px 0; margin: 20px 0 0 0; }
	.footerBottomLeft { position: absolute; top: 20px; right: 0; width: 190px; }
	.footerBottom { justify-content: flex-end; }
	.readyToSee { margin: 80px 0 50px 0; }
	.logo { width: 140px; height: 50px; }
	.bookAdemo:before { height: 47%; }
	.organizationsTop .heading2xl { width: 90%; }
	.contactWrapLeft .subFontMd { width: 100%; }
	.formWrapper { padding: 30px 20px !important; }
	.missionVissionInner .subFontXlg:before { background: url(../images/pentagone-shape-mobile-1.png) center center no-repeat; }
	.missionVissionInner .missionVissionTextWrap:last-child .subFontXlg:before { background: url(../images/pentagone-shape-mobile-2.png) center center no-repeat; }
	.missionVissionTextWrap { flex-direction: column !important; gap: 150px; }
	.missionVissionTextWrap .heading3xl { text-align: center; }
	.helpingObject { display: none; }
	.timeLineWrapper ul li { gap: 10px; flex-direction: column; }
	.aboutBannerObject { height: 180px; top: 45%; right: -20px; z-index: -1; }
	.aboutBanner .heading3xl { max-width: 100%; margin-bottom: 70px; }
	.aboutBanner { padding: 130px 0 0 0; }
	.aboutBannerLinear { right: 23px; height: 70px; }
	.bornFrom { margin: 50px 0 0 0; padding: 100px 0 250px 0; }
	.bornFromImage { width: 70%; margin: 20px 0; }
	.teamSwiper { margin: 70px 0 0 0; }
	.timeLineWrapper ul { width: 95%; margin: 0 0 0 20px; padding: 0 0 0 20px; }
	.default-line { left: 0; }
	.draw-line { left: -1px; }
	.iconWrap { left: 100%; width: 100px; top: 40%; }
	.missionVission { margin: 100px 0; }
	.missionVissionInner .subFontXlg { min-height: 580px; padding: 40px 40px 160px 40px; text-align: center; }
	.missionVissionTextWrap:last-child .subFontXlg { padding: 40px 100px 170px 100px; }
	.missionVissionTextWrap:last-child { gap: 120px; }
	.missionVissionInner { gap: 100px; }
	.missionVissionInner .subFontXlg:after { right: 90px; height: 100px; top: 100%; }
	.missionVissionTextWrap:last-child .subFontXlg:after { left: 90px; bottom: 110%; top: auto; }
	.catalyst .onePlatformListing:before { top: 50%; }
	.onePlatformListing:before { top: calc(50% + 50px); }
	.featuresList { width: 100%; padding: 20px 30px; padding-top: 40px; gap: 60px; }
	.fullTextVideoTop { text-align: left; width: 100%; margin-bottom: 50px; }
	.fullTextVideoObject .linearArrow, .halfTextVideoObject .linearArrow { width: 43px; }
	.fullTextVideoWrap { width: 100%; height: 300px; padding: 6px; }
	.fullTextVideoObject { left: -120px; top: 15px; }
	.coreFeatures { padding: 70px 0; }
	.yourLanguageTop { width: 75%; }
	.yourLanguage { margin: 70px 0; }
	.languageList { padding: 40px 20px; }
	.languageListDesc { margin: 30px 0 0 0; }
	.solveChanllenge { margin: 120px 0px; }
	.solveChanllengeTop { width: 100%; }
	.costomizeVideo { width: 100vw; height: 300px; top: 18%; padding: 6px; }
	.halfTextVideoWrap { height: 300px; padding: 6px; margin: 30px 0 0 0; }
	.costomizeUl { margin: 380px 0 0 0; }
	.ulHeading h4 { font-size: var(--fontxl); }
	.costomizeUl ul li { padding: 20px; }
	.costomize { padding: 70px 0; }
	.catalysContentBox { width: 100%; }
	.catalysBannerImage { width: 100%; }
	.onePlatform { padding: 70px 0; }
	.headerOption { width: 100%; padding: 100px 0 0 0; }
	.sustainabilityBoxLogo { display: none; }
	.banner { min-height: 90vh; }
	.thankYouInner { width: 90%; }
	.thankyou:before { height: 100px; }
	.thankyou:after { height: 70px; }
	.map .container-xl { padding: 0; }
	.fullTextVideoObject2 { display: none; }
	button.accentBtn { margin: 30px 0 0 0; }
	.book-a-demo header .headerOption, .book-a-demo header .toggleBtn { display: flex; }
}