/* Font Declaration */
@font-face { font-family: 'GRACEFUL'; src: url(' ../webfonts/graceful/GRACEFULRegular.woff2') format('woff2'), url(' ../../../webfonts/graceful/GRACEFULRegular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }

/* Poppins  */
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Light.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-LightItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-LightItalic.woff') format('woff'); font-weight: 300; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Medium.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-MediumItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-MediumItalic.woff') format('woff'); font-weight: 500; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Regular.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-SemiBold.woff2') format('woff2'), url('../webfonts/poppins/Poppins-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-SemiBoldItalic.woff') format('woff'); font-weight: 600; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Thin.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Thin.woff') format('woff'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-ThinItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-ThinItalic.woff') format('woff'); font-weight: 100; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Black.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Black.woff') format('woff'); font-weight: 900; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-BlackItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-BlackItalic.woff') format('woff'); font-weight: 900; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Bold.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-BoldItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-BoldItalic.woff') format('woff'); font-weight: bold; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-ExtraBold.woff2') format('woff2'), url('../webfonts/poppins/Poppins-ExtraBold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff'); font-weight: bold; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-ExtraLight.woff2') format('woff2'), url('../webfonts/poppins/Poppins-ExtraLight.woff') format('woff'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-ExtraLightItalic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-ExtraLightItalic.woff') format('woff'); font-weight: 200; font-style: italic; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../webfonts/poppins/Poppins-Italic.woff2') format('woff2'), url('../webfonts/poppins/Poppins-Italic.woff') format('woff'); font-weight: normal; font-style: italic; font-display: swap; }

/* dm sans */
@font-face { font-family: 'DM Sans'; src: url('../webfonts/dmSans/DMSans-Regular.woff2') format('woff2'), url(' DMSans-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }

/* RESET CSS */
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
html:focus-within { scroll-behavior: smooth; }
body { min-height: 100vh; text-rendering: optimizeSpeed; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: var(--fontPrimary); font-size: var(--fontBase); line-height: 1.6; overflow-x: clip; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; margin: 0; padding: 0; }
button { background: none; border: none; cursor: pointer; }
table { border-collapse: collapse; width: 100%; }
:root { --fontPrimary: 'Poppins'; --fontSecondary: 'GRACEFUL'; --fontTersory: 'DM Sans'; --colorPrimary: #EC793E; --colorSecondary: #0F3F66; --colorPrimaryLight: #F3E8DB; --colorBg: #FFF9F3; --colorText: #626262; --colorWhite: #ffffff; --colorBlack: #000000; --fontXs: 12px; --fontSm: 14px; --fontBase: 16px; --fontMd: 18px; --fontLg: 20px; --fontXl: 24px; --font2xl: 28px; --font3xl: 32px; --font4xl: 36px; --font5xl: 40px; --font6xl: 44px; --font7xl: 52px; --font8xl: 70px; --cards: 4; --cardHeight: 87vh; --cardTopPadding: 1.5em; --cardMargin: 4vw; }
.heading8xl { font-size: var(--font8xl); font-weight: 400; color: var(--colorWhite); font-family: var(--fontSecondary); margin: 0; }
.heading7xl { font-size: var(--font7xl); font-weight: 400; color: var(--colorSecondary); font-family: var(--fontSecondary); margin: 0; }
.heading6xl { font-size: var(--font6xl); font-weight: 400; color: var(--colorSecondary); font-family: var(--fontSecondary); margin: 0; }
.heading5xl, .pageTopPadding h1 { font-size: var(--font5xl); font-weight: 400; color: var(--colorWhite); font-family: var(--fontSecondary); margin: 0; }
.heading3xl, .wp-block-heading { font-size: var(--font3xl); font-weight: 400; color: var(--colorPrimary); font-family: var(--fontSecondary); margin: 0; }
.subTextXl { font-size: var(--fontXl); font-weight: 300; color: var(--colorWhite); margin: 0; display: inline-block; }
.subTextLg { font-size: var(--fontLg); font-weight: 300; color: var(--colorWhite); margin: 0; display: inline-block; }
.subTextMd, .wp-block-paragraph { font-size: var(--fontMd); font-weight: 300; color: var(--colorWhite); margin: 0; display: inline-block; }
.primaryBtn { font-family: var(--fontTersory); background-color: var(--colorPrimary); padding: 16px 36px; line-height: 1; display: inline-block; border-radius: 10px; font-size: var(--fontLg); color: var(--colorWhite); transition: all 0.3s; }
.secondaryBtn { font-family: var(--fontTersory); background-color: var(--colorSecondary); padding: 16px 36px; line-height: 1; display: inline-block; border-radius: 10px; font-size: var(--fontLg); color: var(--colorWhite); transition: all 0.3s; }
.secondaryBtn:hover { background-color: var(--colorWhite); color: var(--colorSecondary); }
.primaryBtn:hover { background-color: var(--colorWhite); color: var(--colorPrimary); }
.primaryBrdrBtn { background-color: var(--colorPrimaryLight); border: 1px solid var(--colorPrimary); padding: 16px 36px; line-height: 1; display: inline-block; border-radius: 10px; font-size: var(--fontLg); color: var(--colorSecondary); transition: all 0.3s; }
.primaryBrdrBtn:hover { background-color: var(--colorSecondary); color: var(--colorWhite); border-color: var(--colorSecondary); }
.desktopNone { display: none; }
.scrollOff { overflow: hidden; }

/*  */
.enquireFormInner { width: 600px; background-color: var(--colorPrimaryLight); position: fixed; top: 50%; right: -100%; z-index: 11; transition: all 0.5s; transform: translateY(-50%); padding: 70px 40px; }
.enquireFormInner.openForm { right: 0; }
.enquireFormWrap > a { display: inline-block; position: fixed; top: 50%; transform: translateY(-50%); right: 0; z-index: 10; writing-mode: sideways-lr; padding: 60px 12px; background-color: var(--colorPrimary); border-radius: 10px 0 0 10px; color: var(--colorWhite); }
.enquireFormInner  .formDesign { margin: 40px 0 0 0; width: 70%; }
.enquireFormInner .heading3xl { color: var(--colorSecondary); }
.equireFormTop .subTextMd { color: var(--colorBlack); }
.enquireFormInner  .formDesign  .formField.checkBoxWrap { text-align: left; }
.enquireFormInner:before { content: ''; position: absolute; top: 0; right: 0; width: 100px; height: 100px; background: url(../images/l-shap.svg)center center no-repeat; background-size: contain; }

/*  */

/* === HEADER CSS START === */
header { padding: 20px 0; background-color: var(--colorSecondary); }
.headerWrap { display: flex; align-items: center; justify-content: space-between; }
.toggleBtn { display: none; }
nav li a { transition: all 0.3s; position: relative; }
nav li a:before { content: ''; position: absolute; width: 10px; height: 10px; background-color: var(--colorPrimary); border-radius: 50%; top: 50%; transform: translateY(-50%); left: -6px; opacity: 0; visibility: hidden; transition: all 0.3s; }
.current-menu-item a { color: var(--colorPrimary); }
.current-menu-item a::before { opacity: 1; visibility: visible; }
@media (min-width:1025px) {
	nav ul { list-style: none; padding: 0; margin: 0; transition: all 0.3s; }
	nav>ul { display: flex; padding: 0 22px; border-radius: 12px; gap: 24px; }
	nav li { position: relative; }
	nav li a { color: var(--colorWhite); position: relative; display: inline-block; padding: 16px 12px; text-decoration: none; transition: all 0.3s; position: relative; }
	nav ul ul { position: absolute; background-color: var(--colorWhite); box-shadow: 0 7px 10px #00000061; border-radius: 5px; overflow: hidden; transform: translateY(20px); opacity: 0; visibility: hidden; transition: all 0.3s; pointer-events: none; }
	nav>ul>li:hover ul { opacity: 1; visibility: visible; transform: translateY(0); pointer-events: auto; }
	li.hasUl a { padding-right: 25px !important; }
	li.hasUl a:before { content: '\ea13'; font-family: "remixicon"; font-style: normal; position: absolute; top: 10px; right: 7px; font-size: 14px; }
}
@media (max-width:1024px) {
	.headerOption { position: fixed; top: 0; right: 0; width: 400px; height: 100vh; background-color: #E9EDF2 !important; transform: translateX(100%); transition: all 0.3s; list-style: none; padding: 140px 0 0 0; margin: 0; z-index: 11; }
	.headerOption.openMenu { transform: translateX(0); }
	nav ul li a { display: inline-block; width: 100%; padding: 20px 40px; font-size: 22px; color: var(--colorBlack); text-decoration: none; }
	.toggleBtn { display: flex; width: 40px; height: 40px; background-color: var(--colorBg); align-items: center; justify-content: center; gap: 7px; flex-direction: column; position: relative; z-index: 12; border-radius: 12px; }
	.toggleBtn span { width: 20px; height: 2px; background-color: var(--colorPrimary); display: block; border-radius: 80px; transition: all 0.3s; }
	.toggleBtn.closeBtn span:first-child { transform: rotate(45deg) translate(2px, 3px); }
	.toggleBtn.closeBtn span:last-child { transform: rotate(-45deg) translate(3px, -4px); }
	.toggleBtn span:nth-child(2) { display: none; }
}

/* === HEADER CSS END === */

/* === BANNER CSS START === */
.banner { position: relative; z-index: 1; overflow: clip; height: 100vh; display: flex; align-items: flex-end; }
.banner:before { content: ''; position: absolute; width: 100%; height: 800px; bottom: 0; left: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.08%, #000000 100%); z-index: 0; }
.bannerBg { position: absolute; width: 100%; height: 100%; z-index: -1; }
.bannerBg img { width: 100%; height: 100%; object-fit: cover; }
.bannerBg video { width: 100%; height: 100%; object-fit: cover; }
.bannerCtaWrap { display: flex; gap: 50px; justify-content: center; }
.bannerInner { position: relative; }
.bannerText { padding: 150px 0 200px 0; width: 80%; text-align: center; margin: 0 auto; }
.bannerText .subTextXl { margin: 15px 0 50px 0; }

/* === BANNER CSS END === */

/* headingText css */
section.headingText { position: relative; background-color: var(--colorBg); padding: 200px 0; border-radius: 132px 132px 0 0; z-index: 1; margin: -120px 0 0 0; }
.sidePatten { position: absolute; top: 0; height: 100%; display: flex; justify-content: space-between; width: 100%; z-index: -1; }
.left, .right { height: 100%; }
.left img, .right img { height: 100%; object-fit: contain; }
.left { transform: rotateY(180deg); }
.headingTextInner .heading8xl { color: var(--colorSecondary); }
.headingTextInner .subTextMd { color: var(--colorText); margin: 50px 0 80px; width: 80%; }
.headingTextInner { text-align: center; width: 80%; margin: 0 auto; }

/* textImage css */
.textImage { position: relative; overflow: clip; padding: 100px 0 250px 0; z-index: 0; }
.textImage:before { content: ''; position: absolute; width: 100%; height: 100%; background: url(../images/happy-family-bg-image.jpg)center center no-repeat; background-attachment: fixed; top: 0; left: 0; background-size: cover; }
.textImageBg { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -1; }
.textImageBg img { width: 100%; height: 100%; object-fit: cover; }
.textImageInner { display: flex; flex-direction: column; gap: 200px; }
.textImageInner img { width: 100%; height: 100%; }
.labelOne { width: max-content; background-color: var(--colorPrimary); position: relative; padding: 70px 120px 70px 0; }
.labelOne:before { content: ''; position: absolute; width: 100vw; height: 100%; background-color: var(--colorPrimary); top: 0; right: 100%; }
.labelOne h3 { line-height: 1; }
.labelThree { width: max-content; background-color: var(--colorBg); position: relative; padding: 70px 120px 70px 0; }
.labelThree:before { content: ''; position: absolute; width: 100vw; height: 100%; background-color: var(--colorBg); top: 0; right: 100%; }
.labelThree:after { content: ''; position: absolute; width: 100px; height: 100px; background: url(../images/primary-star-icon.svg)center center no-repeat; bottom: 0; right: 0; background-size: contain; }
.labelThree h3 { line-height: 1; }
.labelThree span { color: var(--colorPrimary); }
.labelTwo { background-color: var(--colorBg); width: max-content; position: relative; margin-left: auto; padding: 90px 0 70px 70px; }
.labelTwo:before { content: ''; position: absolute; width: 100vw; height: 100%; background-color: var(--colorBg); top: 0; left: 100%; }
.labelTwo:after { content: ''; position: absolute; width: 100px; height: 100px; background: url(../images/small-patten.svg)center center no-repeat; top: 0; left: 100%; }
.labelTwo .subTextXl { color: var(--colorPrimary); }
.labelFour { background-color: var(--colorBg); width: max-content; position: relative; margin-left: auto; padding: 90px 0 70px 70px; }
.labelFour:before { content: ''; position: absolute; width: 100vw; height: 100%; background-color: var(--colorBg); top: 0; left: 100%; }
.labelFour:after { content: ''; position: absolute; width: 100px; height: 100px; background: url(../images/small-patten-1-primary.svg)center center no-repeat; bottom: 0; left: 100%; background-size: contain; }
.labelFour .subTextXl { color: var(--colorPrimary); }

/* growTimeLine css */
.growTimeLine { background-color: var(--colorSecondary); position: relative; padding: 0 0 300px 0; z-index: 1; }
.growTimeLineInner { position: relative; }
.growTimeLineInner:before { content: ''; position: absolute; width: 600px; aspect-ratio: 1; border-radius: 50%; background-color: var(--colorPrimary); bottom: -140px; left: 60px; z-index: -4; transform: rotate(20deg); }
.growTimeLineInner:after { content: ''; position: absolute; width: 400px; aspect-ratio: 1; border-radius: 50%; background-color: var(--colorBg); bottom: -40px; z-index: -3; transform: rotate(20deg); left: 160px; }
.growTimeLineBg { position: absolute; bottom: 0; z-index: -1; }
.timeLineWrapper { padding: 0 0 120px 0; }
.timeLineWrapper ul { margin: 0 auto; padding: 200px 0 150px 0; list-style: none; max-width: 100%; position: relative; }
.timeLineWrapper ul li { width: 100%; position: relative; padding: 50px 0 50px 80px; }
.timeLineWrapper ul li { margin-left: auto; }
.in-view .timeLineBox h4 { color: var(--activeColor); }
.gone-view .timeLineBox h4 { color: var(--activeColor); }
.timeLineBox { opacity: 0.2; transition: all 0.3s; }
.in-view .timeLineBox { opacity: 1; }
.gone-view .timeLineBox { opacity: 1; }
.timeLineWrapper ul li .timeLineBox span { display: block; }
.timeLineWrapper ul h2 { padding: 0 0 0 80px; }
.timeLineWrapper ul > div { padding: 80px 0 80px 80px; }
.growTop { padding: 200px 0 0 0; }

/*codepen*/
.default-line { content: ""; position: absolute; left: 0; width: 2px; background-color: var(--colorPrimary); opacity: 0.2; height: 100%; top: 0; z-index: -2; }
.draw-line { width: 2px; height: 0; position: absolute; left: 0; background-color: var(--colorPrimary); top: 0; z-index: -2; }
.timeline ul li.in-view::before { content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 42px; height: 42px; border-radius: 50%; background-image: url("https://sg0duxoli5-flywheel.netdna-ssl.com/wp-content/themes/inspired_elearning_theme/images/check-dark.svg"); background-color: #2ecc71; background-size: 20px 20px; background-repeat: no-repeat; background-position: center; transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out; }
.timeLineIndex { position: absolute; width: 30px; height: 30px; background-color: var(--colorPrimary); display: flex; align-items: center; justify-content: center; top: 70px; left: -25px; z-index: 2; overflow: visible; transition: all 0.3s; transform: rotate(45deg) translateY(-50%) scale(0.5); font-size: 0; opacity: 0.2; }
.timeLineWrapper ul li.in-view .timeLineIndex, .timeLineWrapper ul li.gone-view .timeLineIndex { transform: rotate(45deg) translateY(-50%) scale(1); opacity: 1; }

/* verticalAcco css */
.verticalAcco { padding: 200px 0; background-color: var(--colorBg); overflow: clip; }
.verticalAccoListing { padding: 100px 0 0 0; display: flex; height: 800px; }
.verticalAccoHeading { cursor: pointer; transition: all 0.3s; }
.verticalAccoHeading:hover h4, .verticalAccoList.active h4.heading5xl { background-color: var(--colorSecondary); }
.verticalAccoHeading h4 { background-color: var(--colorPrimary); writing-mode: sideways-lr; height: 100%; padding: 20px; text-align: center; margin: 0; transition: all 0.3s; }
.verticalAccoList { display: flex; }
.verticalAccoContent { position: relative; max-width: 0; opacity: 0; visibility: hidden; border: 1px solid var(--colorPrimary); }
.verticalAccoText { position: absolute; bottom: 0; background-color: var(--colorBg); width: 100%; padding: 45px 20px; display: flex; border-top: 1px solid var(--colorPrimary); }
.verticalAccoImage { height: 100%; width: 100%; }
.verticalAccoImage img { width: 100%; height: 100%; object-fit: cover; }
.active .verticalAccoContent { max-width: 100%; opacity: 1; visibility: visible; }
.verticalAccoText .row { align-items: center; }
.verticalAccoText .heading3xl { color: var(--colorSecondary); margin: 0; border-right: 1px solid var(--colorSecondary); }
.verticalAccoText .subTextMd { color: var(--colorBlack); }

/* registerCta css */
.registerCta { background-color: var(--colorPrimaryLight); padding: 200px 0; }
.registerCtaText .heading8xl { color: var(--colorSecondary); }
.registerCtaText .subTextMd { color: var(--colorBlack); }
.registerCtaInner .row { justify-content: space-between; }
.formField input:not([type="checkbox"]), .formField select, .formField textarea { width: 100%; padding: 20px 40px; border: 1px solid #EC793E; border-radius: 10px; background: var(--colorBg); margin: 0 0 24px 0; outline: non; }
.formField input:focus, .formField select:focus, .formField textarea:focus { outline: none; border-color: var(--colorSecondary); }
.formField textarea { height: 150px; }
.formField select { -webkit-appearance: none; color: #626262; background: url(../images/drop-down-arrow.svg) center center no-repeat; background-size: 16px; background-position: 95% 50%; background-color: var(--colorBg); }
.formField.checkBoxWrap { margin: 10px 0 50px; text-align: center; }
input.primaryBtn { border: none; }
a.closeFormBtn { position: absolute; top: 50%; right: 50px; background-color: var(--colorSecondary); width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border-radius: 50%; transform: rotate(-90deg); }

/* footer css */
footer { padding: 100px 0 0 0; background-color: var(--colorSecondary); }
.titleUl ul { margin: 10px 0 0 0; }
.titleUl strong { color: var(--colorPrimary); font-weight: 500; }
.footerInner .row .row { row-gap: 60px; }
.titleUl li, .titleUl li a { color: var(--colorWhite); font-weight: 300; }
.footerUl ul li a { color: var(--colorWhite); margin: 0 0 24px 0; display: inline-block; font-weight: 300; }
.ddBlop span { line-height: 1.2; }
.ddBlop { display: flex; justify-content: flex-end; gap: 10px; align-items: center; color: #fff; width: 20%; text-align: right; margin-left: auto; padding: 0; }
.copyRight { text-align: left; color: var(--colorWhite); font-weight: 300; padding: 25px 0; display: flex; justify-content: space-between; margin: 50px 0 0 0; border-top: 1px solid #fff; align-items: center; }
.copyRight > span { line-height: 1; }
.footerLogo img { width: 100%; }
.ddBlop span { width: 65%; }
.footerSocial ul { display: flex; gap: 40px; }
.titleImageWrap { display: flex; gap: 50px; justify-content: flex-end; }
.logoWrap { display: flex; align-items: center; height: 100%; }
.logoWrap a { margin: 20px 0 0 0; }
.footerText { display: flex; justify-content: space-between; }
.titleUl { margin: 0 0 50px 0; }
.footerLogo a { width: 350px; display: inline-block; }
.footerLogo { display: flex; justify-content: flex-end; }
.titleImage { display: flex; align-items: center; justify-content: flex-end; gap: 30px; }
.titleImage span { width: 30%; text-align: right; }

/* form css */
span.wpcf7-not-valid-tip { position: absolute; bottom: 4px; font-size: 13px; left: 10px; }
span.wpcf7-form-control-wrap { display: block; }
.wpcf7-spinner { position: absolute; }

/* detail page css */
.pageTopPadding { padding: 70px 0; }
.wp-block-paragraph { color: var(--colorText); margin: 0 0 20px 0; }
.pageTopPadding h1 { color: var(--colorSecondary); }
.wp-block-paragraph strong { font-weight: 600; }