/* === BANNER CSS START === */
.banner { width: 100%; height: 100vh; position: relative; overflow: clip; }
.bannerVideo { height: 100%; }
.bannerVideo video { width: 100%; height: 100%; object-fit: cover; }


/* === BANNER CSS END === */

/* headingText css */
.headingText { padding: 130px 0; background-color: var(--colorPrimary); position: relative; overflow-x: clip; }
.headingTextInner { text-align: center; }
.headingTextInner .heading11xl { position: relative; }
.headingTextInner .heading11xl:before { content: ''; position: absolute; width: 90px; height: 90px; background: url(../images/white-star-icon.svg) center center no-repeat; top: 10px; left: 160px; animation: rotateStar 10s linear infinite; }
.headingTextInner .heading11xl:after { content: ''; position: absolute; width: 90px; height: 90px; background: url(../images/white-star-icon.svg) center center no-repeat; top: 10px; right: 180px; animation: rotateStar 10s linear infinite; }
.headingText .marqueeWrapper { bottom: auto; top: 99%; transform: rotate(180deg); }

/* productCata css */
.productCata { padding: 200px 0 0 0; background-color: var(--colorBg); overflow: clip; }
.productCataTop { text-align: center; }
.productCataTop .heading11xl { color: var(--colorAccent); }
.productCataTop .subTextXl { color: var(--colorBlack); }
.productListing { position: relative; padding: 400px 0 0 0; transform: translateX(-40px); }
.productListing:nth-child(2) { transform: translate(-80px, 200px); }
.productListing:nth-child(3) { transform: translateX(-100px); }
.productListing:nth-child(4) { transform: translateX(-120px); }
.productListing:nth-child(5) { transform: translateX(-160px); }
.productListing:last-child { transform: translate(-100px, 200px); }
.productListing:nth-child(2) .productImage { height: 190px; }
.productListing:last-child .productImage { height: 300px; }
.productImage { position: absolute; bottom: 0; left: 50%; transform-origin: bottom center; height: 300px; z-index: 0; }
.productImage img { width: 100%; height: 100%; object-fit: contain; }
.productCataListingWrapper { margin: 100px 0 0 0; position: relative; z-index: 1; }
.productCataListing { display: flex; align-items: center; gap: 50px; justify-content: center; }
.productCataList.active { background-color: var(--colorSecondary); transform: scale(1.2); }
.productCataList { width: 150px; height: 150px; background-color: var(--colorBg); transition: all 0.3s; border-radius: 50%; display: flex; align-items: center; justify-content: center; border: 2px solid var(--colorAccent); cursor: pointer; }
.productCataNameListingWrapper { position: relative; z-index: 0; padding: 140px 0 50px; text-align: center; margin-top: -83px; }
.productCataNameListingWrapper:before { content: ''; position: absolute; width: 2500px; height: 450px; background-color: var(--colorPrimary); z-index: -1; left: -50%; border-radius: 100% 100% 0 0; top: 0; }
.productCataChangeBtn { display: flex; align-items: center; justify-content: center; gap: 600px; }
.prevBtn, .nextBtn { width: 60px; aspect-ratio: 1; display: flex; align-items: center; justify-content: center; border: 2px solid var(--colorAccent); background-color: var(--colorSecondary); border-radius: 50%; color: var(--colorWhite); font-size: 30px; cursor: pointer; transition: all 0.3s; }
.prevBtn { transform: rotate(180deg); padding: 0 0 0px 6px; }
.nextBtn { padding: 0 0 0 6px; }
.prevBtn:hover, .nextBtn:hover { color: var(--colorSecondary); background-color: var(--colorAccent); }
.productCataNameListing { position: absolute; left: 50%; transform: translateX(-50%); top: 134px; }
.productCataList:nth-child(2), .productCataList:nth-child(5) { margin-top: -22px; }
.productCataList:nth-child(3), .productCataList:nth-child(4) { margin-top: -44px; }

/* multiProduct css */
.multiProduct { padding: 350px 0 0 0; background-color: var(--colorAccent); }
.multiProductTop { width: 90%; text-align: center; position: sticky; top: 50%; transform: translateY(-50%); margin: 0 auto; z-index: 0; }
.multiProductList { border: 5px solid var(--colorPrimary); border-radius: 30px; overflow: clip; width: 450px; height: 300px; }
.multiProductList img { width: 100%; height: 100%; object-fit: cover; }
.multiProductListing { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 100px; padding: 150px 0 250px 0; }
.multiProductList:first-child, .multiProductList:nth-child(3), .multiProductList:last-child { transform: rotate(-17deg); }
.multiProductList:nth-child(2), .multiProductList:nth-child(4) { transform: rotate(17deg) translate(50px, 130px) !important; }
.multiProductList:last-child { transform: rotate(-17deg) translate(-120px, 80px) !important; }
.multiProductInner { position: relative; }
.multiProductWrapper { position: relative; }

/* whyChoose css */
.whyChoose { padding: 120px 0; background-color: var(--colorBg); overflow-x: clip; position: relative; }
.whyChooseList { border: 1px solid var(--colorBlack); padding: 70px 60px; border-radius: 40px; height: 100%; position: relative; }
.whyChooseTop { text-align: center; }
.whyChooseTop .heading11xl { color: var(--colorAccent); }
.whyChooseIcon { width: 100px; aspect-ratio: 1; }
.whyChooseListing { margin: 100px 0 0 0; }
.whyChooseListTop { display: flex; align-items: center; justify-content: space-between; }
.whyChooseListTop .heading7xl { width: calc(100% - 120px); line-height: 1; margin: 0; color: var(--colorPrimary); }
.whyChooseList .subTextXl { color: var(--colorBlack); line-height: 1; margin: 25px 0 0 0; }
.whyChooseList:before { content: ''; position: absolute; background: url(../images/yellow-star.svg) center center no-repeat; width: 56px; height: 56px; top: 50%; left: -28px; transform: translateY(-50%); background-size: contain; animation: rotateStar1 10s linear infinite; }
@keyframes rotateStar {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
@keyframes rotateStar1 {
	0% { transform: translateY(-50%) rotate(0); }
	100% { transform: translateY(-50%) rotate(360deg); }
}



/* otherProduct css */
.otherProduct { padding: 150px 0 200px 0; background-color: var(--colorBg); }
.otherProductTop { text-align: center; }
.otherProductTop .heading11xl { color: var(--colorAccent); }
.otherProductTop .subTextXl { color: var(--colorBlack); width: 60%; line-height: 1.2; }
.otherProductListInner { position: relative; overflow: clip; border-radius: 50px; background-color: var(--colorSecondary); z-index: 1; }
.otherProductBg { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -1; }
.otherProductBg img { width: 100%; height: 100%; object-fit: cover; }
.otherProductContent { width: 50%; margin-left: auto; padding: 90px 90px 170px 0; }
.otherProductContent span { line-height: 1.2; }
.otherProductContent .heading7xl { color: var(--colorPrimary); }
.otherProductContent .subTextXl { color: var(--colorBlack); }
.otherProductListing { margin: 80px 0 0 0; }
.otherProductList { position: relative; height: 100%; z-index: 1; padding: 110px 0 0 0; overflow: hidden; border-radius: 50px; }
.otherProductImage { position: absolute; bottom: -30px; z-index: 2; width: 500px; left: 60px; }
.otherProductList:last-child .otherProductContent { margin-right: auto; margin-left: 0; padding: 90px 0 210px 90px; }
.otherProductList:last-child .otherProductImage { left: auto; right: 60px; }

/* ctaWrapper css */
.ctaWrapper { padding: 200px 0; background-color: var(--colorBg); }
.ctaWrapper .heading7xl { color: var(--colorAccent); }
.ctaWrapper .subTextXl { color: var(--colorBlack); line-height: 1.2; margin: 20px 0 40px 0; }
.ctaImage { width: 90%; height: auto; border-radius: 35px; overflow: clip; border: 2px solid var(--colorSecondary); }
.ctaImage img { width: 100%; height: 100%; object-fit: cover; }
.ctaImageOuter { position: relative; }
.ctaImageOuter:before { content: ''; position: absolute; width: 56px; aspect-ratio: 1; right: calc(10% - 28px); top: 20%; background: url(../images/yellow-star.svg) center center no-repeat; background-size: contain; animation: rotateStar 10s linear infinite; }
.ctaWrapperInner .row { align-items: center; }

/* brandListing css */
.brandListing { padding: 140px 0; background-color: var(--colorAccent); }
.brandListinTop .subTextXl { width: 90%; margin: 0 auto; line-height: 1.2; }
.brandListingSwiper { margin: 60px 0 30px 0; padding: 20px 0; border-top: 1px solid #fff6; border-bottom: 1px solid #fff6; pointer-events: none; }
.brandListingSwiper1 { padding: 20px 0; border-top: 1px solid #fff6; border-bottom: 1px solid #fff6; }
.slideLogo { width: 230px; height: 120px; }
.slideLogo img { width: 100%; height: 100%; object-fit: contain; }
.brandListingWrap { position: relative; }
.brandListingWrap:before { content: ''; position: absolute; width: 230px; height: 100%; background: linear-gradient(90deg, #3B0017 8.04%, rgba(59, 0, 23, 0) 105.07%); top: 0; left: 0; z-index: 2; }
.brandListingWrap:after { content: ''; position: absolute; width: 230px; height: 100%; background: linear-gradient(90deg, #3B0017 8.04%, rgba(59, 0, 23, 0) 105.07%); top: 0; right: 0; z-index: 2; transform: rotate(180deg); }
.brandListingSwiper .swiper-wrapper, .brandListingSwiper1 .swiper-wrapper { transition-timing-function: linear; }

/* pyramid css */
.pyramid { padding: 200px 0; background-color: var(--colorSecondary); overflow-x: clip; }
.pyramidTop { text-align: center; }
.pyramidTop .heading11xl { color: var(--colorAccent); }
#gameCanvas { position: relative; top: 0; left: 0; width: 100vw; height: 100vh; display: block; image-rendering: crisp-edges; }
.pyramidImage { position: relative; }
.pyramidImageInner { position: relative; right: 0; padding: 200px 0 0 0; }
.pyramidPopUpList { display: flex; align-items: center; width: max-content; background-color: var(--colorWhite); padding: 20px; border: 4px solid var(--colorAccent); border-radius: 80px; gap: 10px; }
.indexNumber { display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; background-color: var(--colorPrimary); border-radius: 50%; color: var(--colorWhite); font-size: 30px; }
.popupContent .heading5xl { color: var(--colorAccent); margin: 0; font-size: 26px; }
.popupContent .subTextXl { color: var(--colorBlack); font-size: 16px; }
.pyramidPopUpList { position: absolute; opacity: 0; transform: translateY(80px) scale(0.9); transition: none; }
.pyramidPopUpList:first-child { top: 135px; left: 18%; }
.pyramidPopUpList:nth-child(2) { top: 98px; left: 43%; }
.pyramidPopUpList:nth-child(3) { top: 65px; left: 40%; }
.pyramidPopUpList:last-child { top: 195px; left: 67%; }
.popupContent { line-height: 1; }

/*  */
.hero { margin: 100px 0 0 0; }
.hero { position: relative; }
.scan-line { position: absolute; left: 0; width: 100%; height: 2px; background: linear-gradient(90deg, rgba(117, 114, 102, 0) 0%, #E6C020 18.69%, #E6C020 66.47%, rgba(230, 192, 32, 0) 100%); ; bottom: 0%; pointer-events: none; }
.wire, .color { position: absolute; width: 100%; left: 0; top: 0; height: auto; }
.stage { position: sticky; top: 0; height: 100vh; overflow: hidden; }
.reveal { position: absolute; inset: 0; overflow: hidden; height: 0%; }